@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.0.1");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.0.1") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff?v=4.0.1") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.0.1") format("truetype"), url("font/fontawesome-webfont.svg?v=4.0.1#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, ../sass/partials/_base.sass */
body {
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

/* line 13, ../sass/partials/_base.sass */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  margin: 0;
}

/* line 18, ../sass/partials/_base.sass */
ul {
  list-style: none;
  padding: 0;
}

/* line 22, ../sass/partials/_base.sass */
a {
  text-decoration: none;
  color: black;
}

/* line 27, ../sass/partials/_base.sass */
#header-wrapper {
  width: 100%;
  background: #141414;
  background: -moz-linear-gradient(top, #333333 0%, #141414 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333333), color-stop(100%, #141414));
  background: -webkit-linear-gradient(top, #333333 0%, #141414 100%);
  background: -o-linear-gradient(top, #333333 0%, #141414 100%);
  background: -ms-linear-gradient(top, #333333 0%, #141414 100%);
  background: linear-gradient(to bottom, #333333 0%, #141414 100%);
  border-bottom: 2px solid #0fa1e0;
}
/* line 39, ../sass/partials/_base.sass */
#header-wrapper:after, #header-wrapper #nav:after {
  content: "";
  display: block;
  clear: both;
}

/* line 44, ../sass/partials/_base.sass */
#nav {
  width: 90%;
  margin: 0 auto;
  display: block;
}
/* line 49, ../sass/partials/_base.sass */
#nav #header-logo {
  margin-right: 20px;
}
/* line 53, ../sass/partials/_base.sass */
#nav #header-logo .social-icons-nav li > a {
  padding: 20px 8px;
  display: block;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.7);
}
/* line 62, ../sass/partials/_base.sass */
#nav ul, #nav li, #nav a {
  position: relative;
}
/* line 64, ../sass/partials/_base.sass */
#nav ul {
  float: right;
  margin: 0;
}
/* line 67, ../sass/partials/_base.sass */
#nav a {
  display: block;
  padding: 21px 20px;
  font-size: 17px;
  color: white;
  font-family: Helvetica, Arial, Verdana, sans-serif;
}

/* line 74, ../sass/partials/_base.sass */
#nav > ul > li {
  float: left;
  display: inline-block;
  margin: 0;
}
/* line 79, ../sass/partials/_base.sass */
#nav > ul > li:hover > a, #nav > ul > li.active > a {
  color: white;
  box-shadow: inset 0 0 3px black;
  -moz-box-shadow: inset 0 0 3px black;
  -webkit-box-shadow: inset 0 0 3px black;
  background: #070707;
  background: -moz-linear-gradient(top, #262626 0%, #070707 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #262626), color-stop(100%, #070707));
  background: -webkit-linear-gradient(top, #262626 0%, #070707 100%);
  background: -o-linear-gradient(top, #262626 0%, #070707 100%);
  background: -ms-linear-gradient(top, #262626 0%, #070707 100%);
  background: linear-gradient(to bottom, #262626 0%, #070707 100%);
}
/* line 93, ../sass/partials/_base.sass */
#nav > ul > li:hover:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0fa1e0;
  margin-left: -10px;
}

/* line 107, ../sass/partials/_base.sass */
#nav .has-sub {
  z-index: 1;
}
/* line 110, ../sass/partials/_base.sass */
#nav .has-sub:hover > ul {
  display: block;
}
/* line 113, ../sass/partials/_base.sass */
#nav .has-sub ul {
  display: none;
  position: absolute;
  width: 200px;
  top: 100%;
  left: 0;
}
/* line 120, ../sass/partials/_base.sass */
#nav .has-sub ul li a {
  background: #0fa1e0;
  border-bottom: 1px dotted #31b7f1;
  font-size: 15px;
  filter: none;
  display: block;
  line-height: 120%;
  padding: 10px;
  color: white;
}
/* line 129, ../sass/partials/_base.sass */
#nav .has-sub ul li:hover a {
  background: #0c7fb0;
}

/* line 134, ../sass/partials/_base.sass */
.wrapper {
  display: block;
  width: 100%;
}

/* line 140, ../sass/partials/_base.sass */
.content-wrapper {
  margin: 20px auto;
  vertical-align: middle;
  width: 90%;
}

/* line 145, ../sass/partials/_base.sass */
.center-panel {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
}

/* line 150, ../sass/partials/_base.sass */
.centered-box {
  display: inline-block;
  vertical-align: top;
  margin: 10px 20px;
}
/* line 154, ../sass/partials/_base.sass */
.centered-box img {
  width: 100%;
}

/* line 157, ../sass/partials/_base.sass */
.service-item {
  width: 300px;
  padding: 10px 20px;
  background-color: rgba(15, 161, 224, 0.2);
  border-radius: 10px;
  text-align: left;
}
/* line 163, ../sass/partials/_base.sass */
.service-item:hover {
  background-color: rgba(15, 161, 224, 0.5);
}

/* line 166, ../sass/partials/_base.sass */
.panorama-item {
  width: 450px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 10px;
  text-align: left;
  vertical-align: middle;
}
/* line 174, ../sass/partials/_base.sass */
.panorama-item:hover {
  background-color: rgba(15, 161, 224, 0.2);
}

/* line 178, ../sass/partials/_base.sass */
.left-panel {
  display: inline-block;
  width: 68%;
  vertical-align: middle;
  text-align: center;
  padding: 0 15px;
}

/* line 185, ../sass/partials/_base.sass */
.right-panel {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0 15px;
}
/* line 192, ../sass/partials/_base.sass */
.right-panel #lista_x_mes li {
  padding-bottom: 10px;
}
/* line 194, ../sass/partials/_base.sass */
.right-panel #lista_x_mes li > ul > li > a:hover {
  color: #0088cc;
  text-decoration: underline;
}

/* line 200, ../sass/partials/_base.sass */
.blog_box-item {
  width: 250px;
  background-color: white;
  padding: 5px 20px;
  margin: 5px 10px;
  text-align: left;
  vertical-align: top;
}
/* line 207, ../sass/partials/_base.sass */
.blog_box-item:hover {
  background-color: yellow;
}

/* line 211, ../sass/partials/_base.sass */
.list_blog-item {
  margin: 20px 10px;
  padding: 5px;
}

/* line 215, ../sass/partials/_base.sass */
.inline {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
  text-align: left;
}
/* line 220, ../sass/partials/_base.sass */
.inline img {
  width: 100%;
}
/* line 222, ../sass/partials/_base.sass */
.inline span {
  float: right;
}
/* line 224, ../sass/partials/_base.sass */
.inline span a {
  color: #0088cc;
}
/* line 226, ../sass/partials/_base.sass */
.inline span a:hover {
  text-decoration: underline;
  color: #0c557d;
}

/* line 231, ../sass/partials/_base.sass */
#post-wrapper {
  padding: 10px 15px;
  text-align: left;
}
/* line 235, ../sass/partials/_base.sass */
#post-wrapper h2 {
  color: darkred;
}
/* line 237, ../sass/partials/_base.sass */
#post-wrapper h1 {
  font-size: 18;
}
/* line 239, ../sass/partials/_base.sass */
#post-wrapper #tags {
  margin-bottom: 30px;
  clear: both;
}
/* line 243, ../sass/partials/_base.sass */
#post-wrapper #tags > li {
  float: left;
  background-color: blanchedalmond;
  margin: 0 5px;
  padding: 3px 5px;
}
/* line 249, ../sass/partials/_base.sass */
#post-wrapper .main-img {
  width: 90%;
  padding: 15px 0;
}
/* line 253, ../sass/partials/_base.sass */
#post-wrapper .icon {
  height: 30px;
}
/* line 255, ../sass/partials/_base.sass */
#post-wrapper img {
  margin: 0 auto;
  display: block;
  width: 95%;
}
/* line 259, ../sass/partials/_base.sass */
#post-wrapper a {
  color: #0088cc;
}

/* line 262, ../sass/partials/_base.sass */
.social-bar {
  clear: both;
}
/* line 264, ../sass/partials/_base.sass */
.social-bar ul > li {
  position: relative;
  clear: left;
  float: right;
  padding: 10px;
}
/* line 270, ../sass/partials/_base.sass */
.social-bar ul.inverse > li {
  clear: right;
  float: left;
}

/* line 279, ../sass/partials/_base.sass */
#footer-wrapper {
  background-color: black;
  position: absolute;
  letter-spacing: 1px;
}
/* line 284, ../sass/partials/_base.sass */
#footer-wrapper footer {
  margin: 0 auto;
  width: 80%;
  color: white;
  font-size: 15px;
}
/* line 289, ../sass/partials/_base.sass */
#footer-wrapper ul {
  float: right;
  position: relative;
}

/* line 294, ../sass/partials/_base.sass */
.social-icons {
  padding: 0;
  margin: 0;
}
/* line 297, ../sass/partials/_base.sass */
.social-icons li, .social-icons a {
  position: relative;
}
/* line 299, ../sass/partials/_base.sass */
.social-icons li {
  float: left;
  margin: 0;
  display: inline-block;
}
/* line 304, ../sass/partials/_base.sass */
.social-icons li > a {
  padding: 20px 20px;
  padding-bottom: 5px;
  display: block;
}

/* line 311, ../sass/partials/_base.sass */
.white-icon li > a {
  color: white;
  hover-color: rgba(255, 255, 255, 0.5);
}

/* line 316, ../sass/partials/_base.sass */
.black-icon li > a {
  color: black;
  hover-color: rgba(0, 0, 0, 0.5);
}

/*********************************************************************************/
/* Icons                                                                         */
/* Powered by Font Awesome by Dave Gandy | http://fontawesome.io                 */
/* Licensed under the SIL OFL 1.1 (font), MIT (CSS)                              */
/*********************************************************************************/
/* line 7, ../sass/partials/_icons.scss */
.fa {
  text-decoration: none;
}
/* line 11, ../sass/partials/_icons.scss */
.fa.solo span {
  display: none;
}
/* line 16, ../sass/partials/_icons.scss */
.fa:before {
  display: inline-block;
  font-family: FontAwesome;
  font-size: 1.25em;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 30, ../sass/partials/_icons.scss */
.fa-lg {
  font-size: 1.3333333333333333em;
  line-height: .75em;
  vertical-align: -15%;
}

/* line 31, ../sass/partials/_icons.scss */
.fa-2x {
  font-size: 2em;
}

/* line 32, ../sass/partials/_icons.scss */
.fa-3x {
  font-size: 3em;
}

/* line 33, ../sass/partials/_icons.scss */
.fa-4x {
  font-size: 4em;
}

/* line 34, ../sass/partials/_icons.scss */
.fa-5x {
  font-size: 5em;
}

/* line 35, ../sass/partials/_icons.scss */
.fa-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

/* line 36, ../sass/partials/_icons.scss */
.fa-ul {
  padding-left: 0;
  margin-left: 2.142857142857143em;
  list-style-type: none;
}

/* line 36, ../sass/partials/_icons.scss */
.fa-ul > li {
  position: relative;
}

/* line 37, ../sass/partials/_icons.scss */
.fa-li {
  position: absolute;
  left: -2.142857142857143em;
  width: 2.142857142857143em;
  top: .14285714285714285em;
  text-align: center;
}

/* line 37, ../sass/partials/_icons.scss */
.fa-li.fa-lg {
  left: -1.8571428571428572em;
}

/* line 38, ../sass/partials/_icons.scss */
.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em;
}

/* line 39, ../sass/partials/_icons.scss */
.pull-right {
  float: right;
}

/* line 40, ../sass/partials/_icons.scss */
.pull-left {
  float: left;
}

/* line 41, ../sass/partials/_icons.scss */
.fa.pull-left {
  margin-right: .3em;
}

/* line 42, ../sass/partials/_icons.scss */
.fa.pull-right {
  margin-left: .3em;
}

/* line 43, ../sass/partials/_icons.scss */
.fa-spin {
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  /* line 44, ../sass/partials/_icons.scss */
  0% {
    -moz-transform: rotate(0deg);
  }

  /* line 44, ../sass/partials/_icons.scss */
  100% {
    -moz-transform: rotate(359deg);
  }
}

@-webkit-keyframes spin {
  /* line 44, ../sass/partials/_icons.scss */
  0% {
    -webkit-transform: rotate(0deg);
  }

  /* line 44, ../sass/partials/_icons.scss */
  100% {
    -webkit-transform: rotate(359deg);
  }
}

@-o-keyframes spin {
  /* line 44, ../sass/partials/_icons.scss */
  0% {
    -o-transform: rotate(0deg);
  }

  /* line 44, ../sass/partials/_icons.scss */
  100% {
    -o-transform: rotate(359deg);
  }
}

@-ms-keyframes spin {
  /* line 44, ../sass/partials/_icons.scss */
  0% {
    -ms-transform: rotate(0deg);
  }

  /* line 44, ../sass/partials/_icons.scss */
  100% {
    -ms-transform: rotate(359deg);
  }
}

@keyframes spin {
  /* line 44, ../sass/partials/_icons.scss */
  0% {
    transform: rotate(0deg);
  }

  /* line 44, ../sass/partials/_icons.scss */
  100% {
    transform: rotate(359deg);
  }
}

/* line 44, ../sass/partials/_icons.scss */
.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* line 45, ../sass/partials/_icons.scss */
.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/* line 46, ../sass/partials/_icons.scss */
.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* line 47, ../sass/partials/_icons.scss */
.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -moz-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

/* line 48, ../sass/partials/_icons.scss */
.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -moz-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  -o-transform: scale(1, -1);
  transform: scale(1, -1);
}

/* line 49, ../sass/partials/_icons.scss */
.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

/* line 50, ../sass/partials/_icons.scss */
.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

/* line 51, ../sass/partials/_icons.scss */
.fa-stack-1x {
  line-height: inherit;
}

/* line 52, ../sass/partials/_icons.scss */
.fa-stack-2x {
  font-size: 2em;
}

/* line 53, ../sass/partials/_icons.scss */
.fa-inverse {
  color: #fff;
}

/* line 54, ../sass/partials/_icons.scss */
.fa-glass:before {
  content: "\f000";
}

/* line 55, ../sass/partials/_icons.scss */
.fa-music:before {
  content: "\f001";
}

/* line 56, ../sass/partials/_icons.scss */
.fa-search:before {
  content: "\f002";
}

/* line 57, ../sass/partials/_icons.scss */
.fa-envelope-o:before {
  content: "\f003";
}

/* line 58, ../sass/partials/_icons.scss */
.fa-heart:before {
  content: "\f004";
}

/* line 59, ../sass/partials/_icons.scss */
.fa-star:before {
  content: "\f005";
}

/* line 60, ../sass/partials/_icons.scss */
.fa-star-o:before {
  content: "\f006";
}

/* line 61, ../sass/partials/_icons.scss */
.fa-user:before {
  content: "\f007";
}

/* line 62, ../sass/partials/_icons.scss */
.fa-film:before {
  content: "\f008";
}

/* line 63, ../sass/partials/_icons.scss */
.fa-th-large:before {
  content: "\f009";
}

/* line 64, ../sass/partials/_icons.scss */
.fa-th:before {
  content: "\f00a";
}

/* line 65, ../sass/partials/_icons.scss */
.fa-th-list:before {
  content: "\f00b";
}

/* line 66, ../sass/partials/_icons.scss */
.fa-check:before {
  content: "\f00c";
}

/* line 67, ../sass/partials/_icons.scss */
.fa-times:before {
  content: "\f00d";
}

/* line 68, ../sass/partials/_icons.scss */
.fa-search-plus:before {
  content: "\f00e";
}

/* line 69, ../sass/partials/_icons.scss */
.fa-search-minus:before {
  content: "\f010";
}

/* line 70, ../sass/partials/_icons.scss */
.fa-power-off:before {
  content: "\f011";
}

/* line 71, ../sass/partials/_icons.scss */
.fa-signal:before {
  content: "\f012";
}

/* line 72, ../sass/partials/_icons.scss */
.fa-gear:before, .fa-cog:before {
  content: "\f013";
}

/* line 73, ../sass/partials/_icons.scss */
.fa-trash-o:before {
  content: "\f014";
}

/* line 74, ../sass/partials/_icons.scss */
.fa-home:before {
  content: "\f015";
}

/* line 75, ../sass/partials/_icons.scss */
.fa-file-o:before {
  content: "\f016";
}

/* line 76, ../sass/partials/_icons.scss */
.fa-clock-o:before {
  content: "\f017";
}

/* line 77, ../sass/partials/_icons.scss */
.fa-road:before {
  content: "\f018";
}

/* line 78, ../sass/partials/_icons.scss */
.fa-download:before {
  content: "\f019";
}

/* line 79, ../sass/partials/_icons.scss */
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

/* line 80, ../sass/partials/_icons.scss */
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

/* line 81, ../sass/partials/_icons.scss */
.fa-inbox:before {
  content: "\f01c";
}

/* line 82, ../sass/partials/_icons.scss */
.fa-play-circle-o:before {
  content: "\f01d";
}

/* line 83, ../sass/partials/_icons.scss */
.fa-rotate-right:before, .fa-repeat:before {
  content: "\f01e";
}

/* line 84, ../sass/partials/_icons.scss */
.fa-refresh:before {
  content: "\f021";
}

/* line 85, ../sass/partials/_icons.scss */
.fa-list-alt:before {
  content: "\f022";
}

/* line 86, ../sass/partials/_icons.scss */
.fa-lock:before {
  content: "\f023";
}

/* line 87, ../sass/partials/_icons.scss */
.fa-flag:before {
  content: "\f024";
}

/* line 88, ../sass/partials/_icons.scss */
.fa-headphones:before {
  content: "\f025";
}

/* line 89, ../sass/partials/_icons.scss */
.fa-volume-off:before {
  content: "\f026";
}

/* line 90, ../sass/partials/_icons.scss */
.fa-volume-down:before {
  content: "\f027";
}

/* line 91, ../sass/partials/_icons.scss */
.fa-volume-up:before {
  content: "\f028";
}

/* line 92, ../sass/partials/_icons.scss */
.fa-qrcode:before {
  content: "\f029";
}

/* line 93, ../sass/partials/_icons.scss */
.fa-barcode:before {
  content: "\f02a";
}

/* line 94, ../sass/partials/_icons.scss */
.fa-tag:before {
  content: "\f02b";
}

/* line 95, ../sass/partials/_icons.scss */
.fa-tags:before {
  content: "\f02c";
}

/* line 96, ../sass/partials/_icons.scss */
.fa-book:before {
  content: "\f02d";
}

/* line 97, ../sass/partials/_icons.scss */
.fa-bookmark:before {
  content: "\f02e";
}

/* line 98, ../sass/partials/_icons.scss */
.fa-print:before {
  content: "\f02f";
}

/* line 99, ../sass/partials/_icons.scss */
.fa-camera:before {
  content: "\f030";
}

/* line 100, ../sass/partials/_icons.scss */
.fa-font:before {
  content: "\f031";
}

/* line 101, ../sass/partials/_icons.scss */
.fa-bold:before {
  content: "\f032";
}

/* line 102, ../sass/partials/_icons.scss */
.fa-italic:before {
  content: "\f033";
}

/* line 103, ../sass/partials/_icons.scss */
.fa-text-height:before {
  content: "\f034";
}

/* line 104, ../sass/partials/_icons.scss */
.fa-text-width:before {
  content: "\f035";
}

/* line 105, ../sass/partials/_icons.scss */
.fa-align-left:before {
  content: "\f036";
}

/* line 106, ../sass/partials/_icons.scss */
.fa-align-center:before {
  content: "\f037";
}

/* line 107, ../sass/partials/_icons.scss */
.fa-align-right:before {
  content: "\f038";
}

/* line 108, ../sass/partials/_icons.scss */
.fa-align-justify:before {
  content: "\f039";
}

/* line 109, ../sass/partials/_icons.scss */
.fa-list:before {
  content: "\f03a";
}

/* line 110, ../sass/partials/_icons.scss */
.fa-dedent:before, .fa-outdent:before {
  content: "\f03b";
}

/* line 111, ../sass/partials/_icons.scss */
.fa-indent:before {
  content: "\f03c";
}

/* line 112, ../sass/partials/_icons.scss */
.fa-video-camera:before {
  content: "\f03d";
}

/* line 113, ../sass/partials/_icons.scss */
.fa-picture-o:before {
  content: "\f03e";
}

/* line 114, ../sass/partials/_icons.scss */
.fa-pencil:before {
  content: "\f040";
}

/* line 115, ../sass/partials/_icons.scss */
.fa-map-marker:before {
  content: "\f041";
}

/* line 116, ../sass/partials/_icons.scss */
.fa-adjust:before {
  content: "\f042";
}

/* line 117, ../sass/partials/_icons.scss */
.fa-tint:before {
  content: "\f043";
}

/* line 118, ../sass/partials/_icons.scss */
.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044";
}

/* line 119, ../sass/partials/_icons.scss */
.fa-share-square-o:before {
  content: "\f045";
}

/* line 120, ../sass/partials/_icons.scss */
.fa-check-square-o:before {
  content: "\f046";
}

/* line 121, ../sass/partials/_icons.scss */
.fa-move:before {
  content: "\f047";
}

/* line 122, ../sass/partials/_icons.scss */
.fa-step-backward:before {
  content: "\f048";
}

/* line 123, ../sass/partials/_icons.scss */
.fa-fast-backward:before {
  content: "\f049";
}

/* line 124, ../sass/partials/_icons.scss */
.fa-backward:before {
  content: "\f04a";
}

/* line 125, ../sass/partials/_icons.scss */
.fa-play:before {
  content: "\f04b";
}

/* line 126, ../sass/partials/_icons.scss */
.fa-pause:before {
  content: "\f04c";
}

/* line 127, ../sass/partials/_icons.scss */
.fa-stop:before {
  content: "\f04d";
}

/* line 128, ../sass/partials/_icons.scss */
.fa-forward:before {
  content: "\f04e";
}

/* line 129, ../sass/partials/_icons.scss */
.fa-fast-forward:before {
  content: "\f050";
}

/* line 130, ../sass/partials/_icons.scss */
.fa-step-forward:before {
  content: "\f051";
}

/* line 131, ../sass/partials/_icons.scss */
.fa-eject:before {
  content: "\f052";
}

/* line 132, ../sass/partials/_icons.scss */
.fa-chevron-left:before {
  content: "\f053";
}

/* line 133, ../sass/partials/_icons.scss */
.fa-chevron-right:before {
  content: "\f054";
}

/* line 134, ../sass/partials/_icons.scss */
.fa-plus-circle:before {
  content: "\f055";
}

/* line 135, ../sass/partials/_icons.scss */
.fa-minus-circle:before {
  content: "\f056";
}

/* line 136, ../sass/partials/_icons.scss */
.fa-times-circle:before {
  content: "\f057";
}

/* line 137, ../sass/partials/_icons.scss */
.fa-check-circle:before {
  content: "\f058";
}

/* line 138, ../sass/partials/_icons.scss */
.fa-question-circle:before {
  content: "\f059";
}

/* line 139, ../sass/partials/_icons.scss */
.fa-info-circle:before {
  content: "\f05a";
}

/* line 140, ../sass/partials/_icons.scss */
.fa-crosshairs:before {
  content: "\f05b";
}

/* line 141, ../sass/partials/_icons.scss */
.fa-times-circle-o:before {
  content: "\f05c";
}

/* line 142, ../sass/partials/_icons.scss */
.fa-check-circle-o:before {
  content: "\f05d";
}

/* line 143, ../sass/partials/_icons.scss */
.fa-ban:before {
  content: "\f05e";
}

/* line 144, ../sass/partials/_icons.scss */
.fa-arrow-left:before {
  content: "\f060";
}

/* line 145, ../sass/partials/_icons.scss */
.fa-arrow-right:before {
  content: "\f061";
}

/* line 146, ../sass/partials/_icons.scss */
.fa-arrow-up:before {
  content: "\f062";
}

/* line 147, ../sass/partials/_icons.scss */
.fa-arrow-down:before {
  content: "\f063";
}

/* line 148, ../sass/partials/_icons.scss */
.fa-mail-forward:before, .fa-share:before {
  content: "\f064";
}

/* line 149, ../sass/partials/_icons.scss */
.fa-resize-full:before {
  content: "\f065";
}

/* line 150, ../sass/partials/_icons.scss */
.fa-resize-small:before {
  content: "\f066";
}

/* line 151, ../sass/partials/_icons.scss */
.fa-plus:before {
  content: "\f067";
}

/* line 152, ../sass/partials/_icons.scss */
.fa-minus:before {
  content: "\f068";
}

/* line 153, ../sass/partials/_icons.scss */
.fa-asterisk:before {
  content: "\f069";
}

/* line 154, ../sass/partials/_icons.scss */
.fa-exclamation-circle:before {
  content: "\f06a";
}

/* line 155, ../sass/partials/_icons.scss */
.fa-gift:before {
  content: "\f06b";
}

/* line 156, ../sass/partials/_icons.scss */
.fa-leaf:before {
  content: "\f06c";
}

/* line 157, ../sass/partials/_icons.scss */
.fa-fire:before {
  content: "\f06d";
}

/* line 158, ../sass/partials/_icons.scss */
.fa-eye:before {
  content: "\f06e";
}

/* line 159, ../sass/partials/_icons.scss */
.fa-eye-slash:before {
  content: "\f070";
}

/* line 160, ../sass/partials/_icons.scss */
.fa-warning:before, .fa-exclamation-triangle:before {
  content: "\f071";
}

/* line 161, ../sass/partials/_icons.scss */
.fa-plane:before {
  content: "\f072";
}

/* line 162, ../sass/partials/_icons.scss */
.fa-calendar:before {
  content: "\f073";
}

/* line 163, ../sass/partials/_icons.scss */
.fa-random:before {
  content: "\f074";
}

/* line 164, ../sass/partials/_icons.scss */
.fa-comment:before {
  content: "\f075";
}

/* line 165, ../sass/partials/_icons.scss */
.fa-magnet:before {
  content: "\f076";
}

/* line 166, ../sass/partials/_icons.scss */
.fa-chevron-up:before {
  content: "\f077";
}

/* line 167, ../sass/partials/_icons.scss */
.fa-chevron-down:before {
  content: "\f078";
}

/* line 168, ../sass/partials/_icons.scss */
.fa-retweet:before {
  content: "\f079";
}

/* line 169, ../sass/partials/_icons.scss */
.fa-shopping-cart:before {
  content: "\f07a";
}

/* line 170, ../sass/partials/_icons.scss */
.fa-folder:before {
  content: "\f07b";
}

/* line 171, ../sass/partials/_icons.scss */
.fa-folder-open:before {
  content: "\f07c";
}

/* line 172, ../sass/partials/_icons.scss */
.fa-resize-vertical:before {
  content: "\f07d";
}

/* line 173, ../sass/partials/_icons.scss */
.fa-resize-horizontal:before {
  content: "\f07e";
}

/* line 174, ../sass/partials/_icons.scss */
.fa-bar-chart-o:before {
  content: "\f080";
}

/* line 175, ../sass/partials/_icons.scss */
.fa-twitter-square:before {
  content: "\f081";
}

/* line 176, ../sass/partials/_icons.scss */
.fa-facebook-square:before {
  content: "\f082";
}

/* line 177, ../sass/partials/_icons.scss */
.fa-camera-retro:before {
  content: "\f083";
}

/* line 178, ../sass/partials/_icons.scss */
.fa-key:before {
  content: "\f084";
}

/* line 179, ../sass/partials/_icons.scss */
.fa-gears:before, .fa-cogs:before {
  content: "\f085";
}

/* line 180, ../sass/partials/_icons.scss */
.fa-comments:before {
  content: "\f086";
}

/* line 181, ../sass/partials/_icons.scss */
.fa-thumbs-o-up:before {
  content: "\f087";
}

/* line 182, ../sass/partials/_icons.scss */
.fa-thumbs-o-down:before {
  content: "\f088";
}

/* line 183, ../sass/partials/_icons.scss */
.fa-star-half:before {
  content: "\f089";
}

/* line 184, ../sass/partials/_icons.scss */
.fa-heart-o:before {
  content: "\f08a";
}

/* line 185, ../sass/partials/_icons.scss */
.fa-sign-out:before {
  content: "\f08b";
}

/* line 186, ../sass/partials/_icons.scss */
.fa-linkedin-square:before {
  content: "\f08c";
}

/* line 187, ../sass/partials/_icons.scss */
.fa-thumb-tack:before {
  content: "\f08d";
}

/* line 188, ../sass/partials/_icons.scss */
.fa-external-link:before {
  content: "\f08e";
}

/* line 189, ../sass/partials/_icons.scss */
.fa-sign-in:before {
  content: "\f090";
}

/* line 190, ../sass/partials/_icons.scss */
.fa-trophy:before {
  content: "\f091";
}

/* line 191, ../sass/partials/_icons.scss */
.fa-github-square:before {
  content: "\f092";
}

/* line 192, ../sass/partials/_icons.scss */
.fa-upload:before {
  content: "\f093";
}

/* line 193, ../sass/partials/_icons.scss */
.fa-lemon-o:before {
  content: "\f094";
}

/* line 194, ../sass/partials/_icons.scss */
.fa-phone:before {
  content: "\f095";
}

/* line 195, ../sass/partials/_icons.scss */
.fa-square-o:before {
  content: "\f096";
}

/* line 196, ../sass/partials/_icons.scss */
.fa-bookmark-o:before {
  content: "\f097";
}

/* line 197, ../sass/partials/_icons.scss */
.fa-phone-square:before {
  content: "\f098";
}

/* line 198, ../sass/partials/_icons.scss */
.fa-twitter:before {
  content: "\f099";
}

/* line 199, ../sass/partials/_icons.scss */
.fa-facebook:before {
  content: "\f09a";
}

/* line 200, ../sass/partials/_icons.scss */
.fa-github:before {
  content: "\f09b";
}

/* line 201, ../sass/partials/_icons.scss */
.fa-unlock:before {
  content: "\f09c";
}

/* line 202, ../sass/partials/_icons.scss */
.fa-credit-card:before {
  content: "\f09d";
}

/* line 203, ../sass/partials/_icons.scss */
.fa-rss:before {
  content: "\f09e";
}

/* line 204, ../sass/partials/_icons.scss */
.fa-hdd-o:before {
  content: "\f0a0";
}

/* line 205, ../sass/partials/_icons.scss */
.fa-bullhorn:before {
  content: "\f0a1";
}

/* line 206, ../sass/partials/_icons.scss */
.fa-bell:before {
  content: "\f0f3";
}

/* line 207, ../sass/partials/_icons.scss */
.fa-certificate:before {
  content: "\f0a3";
}

/* line 208, ../sass/partials/_icons.scss */
.fa-hand-o-right:before {
  content: "\f0a4";
}

/* line 209, ../sass/partials/_icons.scss */
.fa-hand-o-left:before {
  content: "\f0a5";
}

/* line 210, ../sass/partials/_icons.scss */
.fa-hand-o-up:before {
  content: "\f0a6";
}

/* line 211, ../sass/partials/_icons.scss */
.fa-hand-o-down:before {
  content: "\f0a7";
}

/* line 212, ../sass/partials/_icons.scss */
.fa-arrow-circle-left:before {
  content: "\f0a8";
}

/* line 213, ../sass/partials/_icons.scss */
.fa-arrow-circle-right:before {
  content: "\f0a9";
}

/* line 214, ../sass/partials/_icons.scss */
.fa-arrow-circle-up:before {
  content: "\f0aa";
}

/* line 215, ../sass/partials/_icons.scss */
.fa-arrow-circle-down:before {
  content: "\f0ab";
}

/* line 216, ../sass/partials/_icons.scss */
.fa-globe:before {
  content: "\f0ac";
}

/* line 217, ../sass/partials/_icons.scss */
.fa-wrench:before {
  content: "\f0ad";
}

/* line 218, ../sass/partials/_icons.scss */
.fa-tasks:before {
  content: "\f0ae";
}

/* line 219, ../sass/partials/_icons.scss */
.fa-filter:before {
  content: "\f0b0";
}

/* line 220, ../sass/partials/_icons.scss */
.fa-briefcase:before {
  content: "\f0b1";
}

/* line 221, ../sass/partials/_icons.scss */
.fa-fullscreen:before {
  content: "\f0b2";
}

/* line 222, ../sass/partials/_icons.scss */
.fa-group:before {
  content: "\f0c0";
}

/* line 223, ../sass/partials/_icons.scss */
.fa-chain:before, .fa-link:before {
  content: "\f0c1";
}

/* line 224, ../sass/partials/_icons.scss */
.fa-cloud:before {
  content: "\f0c2";
}

/* line 225, ../sass/partials/_icons.scss */
.fa-flask:before {
  content: "\f0c3";
}

/* line 226, ../sass/partials/_icons.scss */
.fa-cut:before, .fa-scissors:before {
  content: "\f0c4";
}

/* line 227, ../sass/partials/_icons.scss */
.fa-copy:before, .fa-files-o:before {
  content: "\f0c5";
}

/* line 228, ../sass/partials/_icons.scss */
.fa-paperclip:before {
  content: "\f0c6";
}

/* line 229, ../sass/partials/_icons.scss */
.fa-save:before, .fa-floppy-o:before {
  content: "\f0c7";
}

/* line 230, ../sass/partials/_icons.scss */
.fa-square:before {
  content: "\f0c8";
}

/* line 231, ../sass/partials/_icons.scss */
.fa-reorder:before {
  content: "\f0c9";
}

/* line 232, ../sass/partials/_icons.scss */
.fa-list-ul:before {
  content: "\f0ca";
}

/* line 233, ../sass/partials/_icons.scss */
.fa-list-ol:before {
  content: "\f0cb";
}

/* line 234, ../sass/partials/_icons.scss */
.fa-strikethrough:before {
  content: "\f0cc";
}

/* line 235, ../sass/partials/_icons.scss */
.fa-underline:before {
  content: "\f0cd";
}

/* line 236, ../sass/partials/_icons.scss */
.fa-table:before {
  content: "\f0ce";
}

/* line 237, ../sass/partials/_icons.scss */
.fa-magic:before {
  content: "\f0d0";
}

/* line 238, ../sass/partials/_icons.scss */
.fa-truck:before {
  content: "\f0d1";
}

/* line 239, ../sass/partials/_icons.scss */
.fa-pinterest:before {
  content: "\f0d2";
}

/* line 240, ../sass/partials/_icons.scss */
.fa-pinterest-square:before {
  content: "\f0d3";
}

/* line 241, ../sass/partials/_icons.scss */
.fa-google-plus-square:before {
  content: "\f0d4";
}

/* line 242, ../sass/partials/_icons.scss */
.fa-google-plus:before {
  content: "\f0d5";
}

/* line 243, ../sass/partials/_icons.scss */
.fa-money:before {
  content: "\f0d6";
}

/* line 244, ../sass/partials/_icons.scss */
.fa-caret-down:before {
  content: "\f0d7";
}

/* line 245, ../sass/partials/_icons.scss */
.fa-caret-up:before {
  content: "\f0d8";
}

/* line 246, ../sass/partials/_icons.scss */
.fa-caret-left:before {
  content: "\f0d9";
}

/* line 247, ../sass/partials/_icons.scss */
.fa-caret-right:before {
  content: "\f0da";
}

/* line 248, ../sass/partials/_icons.scss */
.fa-columns:before {
  content: "\f0db";
}

/* line 249, ../sass/partials/_icons.scss */
.fa-unsorted:before, .fa-sort:before {
  content: "\f0dc";
}

/* line 250, ../sass/partials/_icons.scss */
.fa-sort-down:before, .fa-sort-asc:before {
  content: "\f0dd";
}

/* line 251, ../sass/partials/_icons.scss */
.fa-sort-up:before, .fa-sort-desc:before {
  content: "\f0de";
}

/* line 252, ../sass/partials/_icons.scss */
.fa-envelope:before {
  content: "\f0e0";
}

/* line 253, ../sass/partials/_icons.scss */
.fa-linkedin:before {
  content: "\f0e1";
}

/* line 254, ../sass/partials/_icons.scss */
.fa-rotate-left:before, .fa-undo:before {
  content: "\f0e2";
}

/* line 255, ../sass/partials/_icons.scss */
.fa-legal:before, .fa-gavel:before {
  content: "\f0e3";
}

/* line 256, ../sass/partials/_icons.scss */
.fa-dashboard:before, .fa-tachometer:before {
  content: "\f0e4";
}

/* line 257, ../sass/partials/_icons.scss */
.fa-comment-o:before {
  content: "\f0e5";
}

/* line 258, ../sass/partials/_icons.scss */
.fa-comments-o:before {
  content: "\f0e6";
}

/* line 259, ../sass/partials/_icons.scss */
.fa-flash:before, .fa-bolt:before {
  content: "\f0e7";
}

/* line 260, ../sass/partials/_icons.scss */
.fa-sitemap:before {
  content: "\f0e8";
}

/* line 261, ../sass/partials/_icons.scss */
.fa-umbrella:before {
  content: "\f0e9";
}

/* line 262, ../sass/partials/_icons.scss */
.fa-paste:before, .fa-clipboard:before {
  content: "\f0ea";
}

/* line 263, ../sass/partials/_icons.scss */
.fa-lightbulb-o:before {
  content: "\f0eb";
}

/* line 264, ../sass/partials/_icons.scss */
.fa-exchange:before {
  content: "\f0ec";
}

/* line 265, ../sass/partials/_icons.scss */
.fa-cloud-download:before {
  content: "\f0ed";
}

/* line 266, ../sass/partials/_icons.scss */
.fa-cloud-upload:before {
  content: "\f0ee";
}

/* line 267, ../sass/partials/_icons.scss */
.fa-user-md:before {
  content: "\f0f0";
}

/* line 268, ../sass/partials/_icons.scss */
.fa-stethoscope:before {
  content: "\f0f1";
}

/* line 269, ../sass/partials/_icons.scss */
.fa-suitcase:before {
  content: "\f0f2";
}

/* line 270, ../sass/partials/_icons.scss */
.fa-bell-o:before {
  content: "\f0a2";
}

/* line 271, ../sass/partials/_icons.scss */
.fa-coffee:before {
  content: "\f0f4";
}

/* line 272, ../sass/partials/_icons.scss */
.fa-cutlery:before {
  content: "\f0f5";
}

/* line 273, ../sass/partials/_icons.scss */
.fa-file-text-o:before {
  content: "\f0f6";
}

/* line 274, ../sass/partials/_icons.scss */
.fa-building:before {
  content: "\f0f7";
}

/* line 275, ../sass/partials/_icons.scss */
.fa-hospital:before {
  content: "\f0f8";
}

/* line 276, ../sass/partials/_icons.scss */
.fa-ambulance:before {
  content: "\f0f9";
}

/* line 277, ../sass/partials/_icons.scss */
.fa-medkit:before {
  content: "\f0fa";
}

/* line 278, ../sass/partials/_icons.scss */
.fa-fighter-jet:before {
  content: "\f0fb";
}

/* line 279, ../sass/partials/_icons.scss */
.fa-beer:before {
  content: "\f0fc";
}

/* line 280, ../sass/partials/_icons.scss */
.fa-h-square:before {
  content: "\f0fd";
}

/* line 281, ../sass/partials/_icons.scss */
.fa-plus-square:before {
  content: "\f0fe";
}

/* line 282, ../sass/partials/_icons.scss */
.fa-angle-double-left:before {
  content: "\f100";
}

/* line 283, ../sass/partials/_icons.scss */
.fa-angle-double-right:before {
  content: "\f101";
}

/* line 284, ../sass/partials/_icons.scss */
.fa-angle-double-up:before {
  content: "\f102";
}

/* line 285, ../sass/partials/_icons.scss */
.fa-angle-double-down:before {
  content: "\f103";
}

/* line 286, ../sass/partials/_icons.scss */
.fa-angle-left:before {
  content: "\f104";
}

/* line 287, ../sass/partials/_icons.scss */
.fa-angle-right:before {
  content: "\f105";
}

/* line 288, ../sass/partials/_icons.scss */
.fa-angle-up:before {
  content: "\f106";
}

/* line 289, ../sass/partials/_icons.scss */
.fa-angle-down:before {
  content: "\f107";
}

/* line 290, ../sass/partials/_icons.scss */
.fa-desktop:before {
  content: "\f108";
}

/* line 291, ../sass/partials/_icons.scss */
.fa-laptop:before {
  content: "\f109";
}

/* line 292, ../sass/partials/_icons.scss */
.fa-tablet:before {
  content: "\f10a";
}

/* line 293, ../sass/partials/_icons.scss */
.fa-mobile-phone:before, .fa-mobile:before {
  content: "\f10b";
}

/* line 294, ../sass/partials/_icons.scss */
.fa-circle-o:before {
  content: "\f10c";
}

/* line 295, ../sass/partials/_icons.scss */
.fa-quote-left:before {
  content: "\f10d";
}

/* line 296, ../sass/partials/_icons.scss */
.fa-quote-right:before {
  content: "\f10e";
}

/* line 297, ../sass/partials/_icons.scss */
.fa-spinner:before {
  content: "\f110";
}

/* line 298, ../sass/partials/_icons.scss */
.fa-circle:before {
  content: "\f111";
}

/* line 299, ../sass/partials/_icons.scss */
.fa-mail-reply:before, .fa-reply:before {
  content: "\f112";
}

/* line 300, ../sass/partials/_icons.scss */
.fa-github-alt:before {
  content: "\f113";
}

/* line 301, ../sass/partials/_icons.scss */
.fa-folder-o:before {
  content: "\f114";
}

/* line 302, ../sass/partials/_icons.scss */
.fa-folder-open-o:before {
  content: "\f115";
}

/* line 303, ../sass/partials/_icons.scss */
.fa-expand-o:before {
  content: "\f116";
}

/* line 304, ../sass/partials/_icons.scss */
.fa-collapse-o:before {
  content: "\f117";
}

/* line 305, ../sass/partials/_icons.scss */
.fa-smile-o:before {
  content: "\f118";
}

/* line 306, ../sass/partials/_icons.scss */
.fa-frown-o:before {
  content: "\f119";
}

/* line 307, ../sass/partials/_icons.scss */
.fa-meh-o:before {
  content: "\f11a";
}

/* line 308, ../sass/partials/_icons.scss */
.fa-gamepad:before {
  content: "\f11b";
}

/* line 309, ../sass/partials/_icons.scss */
.fa-keyboard-o:before {
  content: "\f11c";
}

/* line 310, ../sass/partials/_icons.scss */
.fa-flag-o:before {
  content: "\f11d";
}

/* line 311, ../sass/partials/_icons.scss */
.fa-flag-checkered:before {
  content: "\f11e";
}

/* line 312, ../sass/partials/_icons.scss */
.fa-terminal:before {
  content: "\f120";
}

/* line 313, ../sass/partials/_icons.scss */
.fa-code:before {
  content: "\f121";
}

/* line 314, ../sass/partials/_icons.scss */
.fa-reply-all:before {
  content: "\f122";
}

/* line 315, ../sass/partials/_icons.scss */
.fa-mail-reply-all:before {
  content: "\f122";
}

/* line 316, ../sass/partials/_icons.scss */
.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "\f123";
}

/* line 317, ../sass/partials/_icons.scss */
.fa-location-arrow:before {
  content: "\f124";
}

/* line 318, ../sass/partials/_icons.scss */
.fa-crop:before {
  content: "\f125";
}

/* line 319, ../sass/partials/_icons.scss */
.fa-code-fork:before {
  content: "\f126";
}

/* line 320, ../sass/partials/_icons.scss */
.fa-unlink:before, .fa-chain-broken:before {
  content: "\f127";
}

/* line 321, ../sass/partials/_icons.scss */
.fa-question:before {
  content: "\f128";
}

/* line 322, ../sass/partials/_icons.scss */
.fa-info:before {
  content: "\f129";
}

/* line 323, ../sass/partials/_icons.scss */
.fa-exclamation:before {
  content: "\f12a";
}

/* line 324, ../sass/partials/_icons.scss */
.fa-superscript:before {
  content: "\f12b";
}

/* line 325, ../sass/partials/_icons.scss */
.fa-subscript:before {
  content: "\f12c";
}

/* line 326, ../sass/partials/_icons.scss */
.fa-eraser:before {
  content: "\f12d";
}

/* line 327, ../sass/partials/_icons.scss */
.fa-puzzle-piece:before {
  content: "\f12e";
}

/* line 328, ../sass/partials/_icons.scss */
.fa-microphone:before {
  content: "\f130";
}

/* line 329, ../sass/partials/_icons.scss */
.fa-microphone-slash:before {
  content: "\f131";
}

/* line 330, ../sass/partials/_icons.scss */
.fa-shield:before {
  content: "\f132";
}

/* line 331, ../sass/partials/_icons.scss */
.fa-calendar-o:before {
  content: "\f133";
}

/* line 332, ../sass/partials/_icons.scss */
.fa-fire-extinguisher:before {
  content: "\f134";
}

/* line 333, ../sass/partials/_icons.scss */
.fa-rocket:before {
  content: "\f135";
}

/* line 334, ../sass/partials/_icons.scss */
.fa-maxcdn:before {
  content: "\f136";
}

/* line 335, ../sass/partials/_icons.scss */
.fa-chevron-circle-left:before {
  content: "\f137";
}

/* line 336, ../sass/partials/_icons.scss */
.fa-chevron-circle-right:before {
  content: "\f138";
}

/* line 337, ../sass/partials/_icons.scss */
.fa-chevron-circle-up:before {
  content: "\f139";
}

/* line 338, ../sass/partials/_icons.scss */
.fa-chevron-circle-down:before {
  content: "\f13a";
}

/* line 339, ../sass/partials/_icons.scss */
.fa-html5:before {
  content: "\f13b";
}

/* line 340, ../sass/partials/_icons.scss */
.fa-css3:before {
  content: "\f13c";
}

/* line 341, ../sass/partials/_icons.scss */
.fa-anchor:before {
  content: "\f13d";
}

/* line 342, ../sass/partials/_icons.scss */
.fa-unlock-o:before {
  content: "\f13e";
}

/* line 343, ../sass/partials/_icons.scss */
.fa-bullseye:before {
  content: "\f140";
}

/* line 344, ../sass/partials/_icons.scss */
.fa-ellipsis-horizontal:before {
  content: "\f141";
}

/* line 345, ../sass/partials/_icons.scss */
.fa-ellipsis-vertical:before {
  content: "\f142";
}

/* line 346, ../sass/partials/_icons.scss */
.fa-rss-square:before {
  content: "\f143";
}

/* line 347, ../sass/partials/_icons.scss */
.fa-play-circle:before {
  content: "\f144";
}

/* line 348, ../sass/partials/_icons.scss */
.fa-ticket:before {
  content: "\f145";
}

/* line 349, ../sass/partials/_icons.scss */
.fa-minus-square:before {
  content: "\f146";
}

/* line 350, ../sass/partials/_icons.scss */
.fa-minus-square-o:before {
  content: "\f147";
}

/* line 351, ../sass/partials/_icons.scss */
.fa-level-up:before {
  content: "\f148";
}

/* line 352, ../sass/partials/_icons.scss */
.fa-level-down:before {
  content: "\f149";
}

/* line 353, ../sass/partials/_icons.scss */
.fa-check-square:before {
  content: "\f14a";
}

/* line 354, ../sass/partials/_icons.scss */
.fa-pencil-square:before {
  content: "\f14b";
}

/* line 355, ../sass/partials/_icons.scss */
.fa-external-link-square:before {
  content: "\f14c";
}

/* line 356, ../sass/partials/_icons.scss */
.fa-share-square:before {
  content: "\f14d";
}

/* line 357, ../sass/partials/_icons.scss */
.fa-compass:before {
  content: "\f14e";
}

/* line 358, ../sass/partials/_icons.scss */
.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "\f150";
}

/* line 359, ../sass/partials/_icons.scss */
.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "\f151";
}

/* line 360, ../sass/partials/_icons.scss */
.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "\f152";
}

/* line 361, ../sass/partials/_icons.scss */
.fa-euro:before, .fa-eur:before {
  content: "\f153";
}

/* line 362, ../sass/partials/_icons.scss */
.fa-gbp:before {
  content: "\f154";
}

/* line 363, ../sass/partials/_icons.scss */
.fa-dollar:before, .fa-usd:before {
  content: "\f155";
}

/* line 364, ../sass/partials/_icons.scss */
.fa-rupee:before, .fa-inr:before {
  content: "\f156";
}

/* line 365, ../sass/partials/_icons.scss */
.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "\f157";
}

/* line 366, ../sass/partials/_icons.scss */
.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "\f158";
}

/* line 367, ../sass/partials/_icons.scss */
.fa-won:before, .fa-krw:before {
  content: "\f159";
}

/* line 368, ../sass/partials/_icons.scss */
.fa-bitcoin:before, .fa-btc:before {
  content: "\f15a";
}

/* line 369, ../sass/partials/_icons.scss */
.fa-file:before {
  content: "\f15b";
}

/* line 370, ../sass/partials/_icons.scss */
.fa-file-text:before {
  content: "\f15c";
}

/* line 371, ../sass/partials/_icons.scss */
.fa-sort-alpha-asc:before {
  content: "\f15d";
}

/* line 372, ../sass/partials/_icons.scss */
.fa-sort-alpha-desc:before {
  content: "\f15e";
}

/* line 373, ../sass/partials/_icons.scss */
.fa-sort-amount-asc:before {
  content: "\f160";
}

/* line 374, ../sass/partials/_icons.scss */
.fa-sort-amount-desc:before {
  content: "\f161";
}

/* line 375, ../sass/partials/_icons.scss */
.fa-sort-numeric-asc:before {
  content: "\f162";
}

/* line 376, ../sass/partials/_icons.scss */
.fa-sort-numeric-desc:before {
  content: "\f163";
}

/* line 377, ../sass/partials/_icons.scss */
.fa-thumbs-up:before {
  content: "\f164";
}

/* line 378, ../sass/partials/_icons.scss */
.fa-thumbs-down:before {
  content: "\f165";
}

/* line 379, ../sass/partials/_icons.scss */
.fa-youtube-square:before {
  content: "\f166";
}

/* line 380, ../sass/partials/_icons.scss */
.fa-youtube:before {
  content: "\f167";
}

/* line 381, ../sass/partials/_icons.scss */
.fa-xing:before {
  content: "\f168";
}

/* line 382, ../sass/partials/_icons.scss */
.fa-xing-square:before {
  content: "\f169";
}

/* line 383, ../sass/partials/_icons.scss */
.fa-youtube-play:before {
  content: "\f16a";
}

/* line 384, ../sass/partials/_icons.scss */
.fa-dropbox:before {
  content: "\f16b";
}

/* line 385, ../sass/partials/_icons.scss */
.fa-stack-overflow:before {
  content: "\f16c";
}

/* line 386, ../sass/partials/_icons.scss */
.fa-instagram:before {
  content: "\f16d";
}

/* line 387, ../sass/partials/_icons.scss */
.fa-flickr:before {
  content: "\f16e";
}

/* line 388, ../sass/partials/_icons.scss */
.fa-adn:before {
  content: "\f170";
}

/* line 389, ../sass/partials/_icons.scss */
.fa-bitbucket:before {
  content: "\f171";
}

/* line 390, ../sass/partials/_icons.scss */
.fa-bitbucket-square:before {
  content: "\f172";
}

/* line 391, ../sass/partials/_icons.scss */
.fa-tumblr:before {
  content: "\f173";
}

/* line 392, ../sass/partials/_icons.scss */
.fa-tumblr-square:before {
  content: "\f174";
}

/* line 393, ../sass/partials/_icons.scss */
.fa-long-arrow-down:before {
  content: "\f175";
}

/* line 394, ../sass/partials/_icons.scss */
.fa-long-arrow-up:before {
  content: "\f176";
}

/* line 395, ../sass/partials/_icons.scss */
.fa-long-arrow-left:before {
  content: "\f177";
}

/* line 396, ../sass/partials/_icons.scss */
.fa-long-arrow-right:before {
  content: "\f178";
}

/* line 397, ../sass/partials/_icons.scss */
.fa-apple:before {
  content: "\f179";
}

/* line 398, ../sass/partials/_icons.scss */
.fa-windows:before {
  content: "\f17a";
}

/* line 399, ../sass/partials/_icons.scss */
.fa-android:before {
  content: "\f17b";
}

/* line 400, ../sass/partials/_icons.scss */
.fa-linux:before {
  content: "\f17c";
}

/* line 401, ../sass/partials/_icons.scss */
.fa-dribbble:before {
  content: "\f17d";
}

/* line 402, ../sass/partials/_icons.scss */
.fa-skype:before {
  content: "\f17e";
}

/* line 403, ../sass/partials/_icons.scss */
.fa-foursquare:before {
  content: "\f180";
}

/* line 404, ../sass/partials/_icons.scss */
.fa-trello:before {
  content: "\f181";
}

/* line 405, ../sass/partials/_icons.scss */
.fa-female:before {
  content: "\f182";
}

/* line 406, ../sass/partials/_icons.scss */
.fa-male:before {
  content: "\f183";
}

/* line 407, ../sass/partials/_icons.scss */
.fa-gittip:before {
  content: "\f184";
}

/* line 408, ../sass/partials/_icons.scss */
.fa-sun-o:before {
  content: "\f185";
}

/* line 409, ../sass/partials/_icons.scss */
.fa-moon-o:before {
  content: "\f186";
}

/* line 410, ../sass/partials/_icons.scss */
.fa-archive:before {
  content: "\f187";
}

/* line 411, ../sass/partials/_icons.scss */
.fa-bug:before {
  content: "\f188";
}

/* line 412, ../sass/partials/_icons.scss */
.fa-vk:before {
  content: "\f189";
}

/* line 413, ../sass/partials/_icons.scss */
.fa-weibo:before {
  content: "\f18a";
}

/* line 414, ../sass/partials/_icons.scss */
.fa-renren:before {
  content: "\f18b";
}

/* line 415, ../sass/partials/_icons.scss */
.fa-pagelines:before {
  content: "\f18c";
}

/* line 416, ../sass/partials/_icons.scss */
.fa-stack-exchange:before {
  content: "\f18d";
}

/* line 417, ../sass/partials/_icons.scss */
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

/* line 418, ../sass/partials/_icons.scss */
.fa-arrow-circle-o-left:before {
  content: "\f190";
}

/* line 419, ../sass/partials/_icons.scss */
.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "\f191";
}

/* line 420, ../sass/partials/_icons.scss */
.fa-dot-circle-o:before {
  content: "\f192";
}

/* line 421, ../sass/partials/_icons.scss */
.fa-wheelchair:before {
  content: "\f193";
}

/* line 422, ../sass/partials/_icons.scss */
.fa-vimeo-square:before {
  content: "\f194";
}

/* line 423, ../sass/partials/_icons.scss */
.fa-turkish-lira:before, .fa-try:before {
  content: "\f195";
}

/* line 428, ../sass/partials/_icons.scss */
.button {
  position: relative;
  display: inline-block;
  background-image: -moz-linear-gradient(top, #3b91b6, #23749f);
  background-image: -o-linear-gradient(top, #3b91b6, #23749f);
  background-image: -ms-linear-gradient(top, #3b91b6, #23749f);
  background-image: linear-gradient(top, #3b91b6, #23749f);
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.95em;
  letter-spacing: 0.075em;
  padding: 1.1em 2em 1.1em 2em;
  outline: 0;
  white-space: nowrap;
}
/* line 451, ../sass/partials/_icons.scss */
.button:hover {
  background: rgba(0, 0, 0, 0.25);
  background-image: -moz-linear-gradient(top, #4ba1c6, #23749f);
  #background-image: -webkit-linear-gradient(top, #4ba1c6, #23749f);
  background-image: -o-linear-gradient(top, #4ba1c6, #23749f);
  background-image: -ms-linear-gradient(top, #4ba1c6, #23749f);
  background-image: linear-gradient(top, #4ba1c6, #23749f);
}
/* line 461, ../sass/partials/_icons.scss */
.button:active {
  background-image: -moz-linear-gradient(top, #23749f, #2b81a6);
  background-image: -webkit-linear-gradient(top, #23749f, #2b81a6);
  background-image: -o-linear-gradient(top, #23749f, #2b81a6);
  background-image: -ms-linear-gradient(top, #23749f, #2b81a6);
  background-image: linear-gradient(top, #23749f, #2b81a6);
}
/* line 470, ../sass/partials/_icons.scss */
.button.fa:before {
  opacity: 0.5;
  margin-right: 0.5em;
  position: relative;
  top: 0.05em;
}
/* line 479, ../sass/partials/_icons.scss */
.button.medium {
  font-size: 1.25em;
  padding: 0.5em 2em 0.5em 2em;
}
/* line 485, ../sass/partials/_icons.scss */
.button.big {
  font-size: 1.5em;
  padding: 1em 2.25em 1em 2.25em;
}
/* line 491, ../sass/partials/_icons.scss */
.button.alt {
  background: #3a3a3a;
  background-image: -moz-linear-gradient(top, #525252, #3a3a3a);
  background-image: -webkit-linear-gradient(top, #525252, #3a3a3a);
  background-image: -o-linear-gradient(top, #525252, #3a3a3a);
  background-image: -ms-linear-gradient(top, #525252, #3a3a3a);
  background-image: linear-gradient(top, #525252, #3a3a3a);
  box-shadow: inset 0px 0px 0px 1px #3a3a3a, inset 0px 2px 1px 0px #a8a8a8;
}
/* line 501, ../sass/partials/_icons.scss */
.button.alt:hover {
  background-image: -moz-linear-gradient(top, #626262, #3a3a3a);
  background-image: -webkit-linear-gradient(top, #626262, #3a3a3a);
  background-image: -o-linear-gradient(top, #626262, #3a3a3a);
  background-image: -ms-linear-gradient(top, #626262, #3a3a3a);
  background-image: linear-gradient(top, #626262, #3a3a3a);
}
/* line 510, ../sass/partials/_icons.scss */
.button.alt:active {
  background-image: -moz-linear-gradient(top, #3a3a3a, #424242);
  background-image: -webkit-linear-gradient(top, #3a3a3a, #424242);
  background-image: -o-linear-gradient(top, #3a3a3a, #424242);
  background-image: -ms-linear-gradient(top, #3a3a3a, #424242);
  background-image: linear-gradient(top, #3a3a3a, #424242);
}
