<!DOCTYPE html>
{% load static %}
<meta charset="utf-8">
<html>
  <head>
  	<style>
		text {
		  font: 13px sans-serif;
		}
		rect.background {
		  fill: white;
		}
		.axis {
		  shape-rendering: crispEdges;
		}
		.axis path,
		.axis line {
		  fill: none;
		  stroke: #369;
		}
	</style>
  </head>
  <body>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{% static 'website/js/src_barchart.js' %}" charset="utf-8"></script>
  </body>
</html>
