{% extends "website/base/base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="wrapper content-wrapper" style="width: 80%">
    <div class="center-panel" style="height: 400px; font-size: 16px; text-align: left">
        <h1>Contáctenos</h1>
        <p>Por favor siéntase en la libertad de realizarnos cualquier consulta mediante correo electrónico o en las redes sociales. </p>
        <p>E-mail: contacto@empleatron.com</p>
        <ul class = "social-icons black-icon">
            <li><a>Redes sociales: </a></li>
            <li><a href="https://www.facebook.com/EmpleatronPeru" class="fa solo fa-facebook"></a></li>
            <li><a href="https://twitter.com/EmpleatronPeru" class="fa solo fa-twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/empleatr%C3%B3n-peru" class="fa solo fa-linkedin"></a></li>
        </ul>
    </div>
</div>
{% endblock %}
