{% extends "blog/base.html" %}
{% load static from staticfiles %}

{% block content %}
<div class="wrapper content-wrapper" style="width: 80%">
    <div class="center-panel">
        <h1 style="text-align: left">Graficas</h1>
        <div class="centered-box service-item" style ="width:200px">
            <a  href="{% url 'circleplot' %}"
			    target="_blank">
              <img src="{% static 'website/img/circle_plot.png' %}">
              <p>Interrelación entre carreras en el Perú</p>
            </a>
        </div>
        <div class="centered-box service-item">
          <a href="{% url 'treemap' %}">
              <img src="{% static 'website/img/treemap.png' %}">
              <p>Panorama de la demanda laboral peruana</p>
          </a>
        </div>

        {% if graficas|length > 0 %}
        {% for graph in graficas %}
        <div class="centered-box service-item" style ="width:200px">
            <a  href="{% static graph.photo.url %}"
                title="{{ graph.title }}"
			    target="_blank">
              <img src="{% static graph.photo.url_500x400 %}">
              <p>{{ graph.title }}</p>
            </a>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}
