{% extends "website/base/base.html" %}
{% load static from staticfiles %}
{% load blog_filters %}

{% block css %}
    <link rel="stylesheet" href="{% static 'website/css/sliders.css' %}"/>
    <!-- Bullet Navigator Skin Begin -->
    <style>
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            background: url("{% static 'website/img/icons/b05.png'  %}") no-repeat;
            overflow: hidden;
            cursor: pointer;
        }

        .jssorb05 div {
            background-position: -7px -7px;
        }

        .jssorb05 div:hover, .jssorb05 .av:hover {
            background-position: -37px -7px;
        }

        .jssorb05 .av {
            background-position: -67px -7px;
        }

        .jssorb05 .dn, .jssorb05 .dn:hover {
            background-position: -97px -7px;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'website/js/jssor.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jssor.slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jssor.utils.js' %}"></script>
    <script>
        jQuery(document).ready(function () {

            var _SlideshowTransitions = [
            //Fade in R
              {$Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 },
            //Fade out L
              { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            ];

            /*
            var _SlideshowTransitions = [
            //Fade
            { $Duration: 1200, $Opacity: 2 }
            ];
            */
            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 15000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 200,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                    $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                },

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 1,                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                    $Steps: 1,                                      //[Optional] Steps to go for each navigation request, default value is 1
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 10                                   //[Optional] Vertical space between each item in pixel, default value is 0
                },

                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                }
            };
            var jssor_slider1 = new $JssorSlider$("slider_index", options);
        });
    </script>

{% endblock %}


{% block banner %}
<!-- Banner -->
<div id = "banner-wrapper" class = "wrapper">

<div id="slider_index">
    <!-- JS Slider intended -->
    <div u="slides" style=" cursor: move;
                            position: absolute;
                            left: 0px; top: 0px;
                            width: 1000px;
                            height: 400px;
                            overflow: hidden;
                            display: block;
                            vertical-align: middle;">

        <!--                BANNER MESSASGE                 -->
        <div style="padding: 30px 0">
            <div class="right-panel" style="width: 40%">
                <h1>¡Empleatrón ha llegado!</h1>
                <p>Buscamos impactar positivamente en la empleabilidad de jóvenes estudiantes,
                    así como de trabajadores en media carrera, al permitirles tener una
                    mejor visión de lo que el mercado laboral demanda.</p>
            </div>
            <div class="left-panel" style="width: 50%">
                <img src="{% static 'website/img/banner-1-1-industrial.png' %}" style="width: 100%">
            </div>
        </div>

        <!--                BANNER MESSASGE                 -->
        <div style="padding: 30px 0">
            <div class="right-panel" style="width: 40%">
                <h1>¡Empleatrón ha llegado!</h1>
                <p>Ponemos herramientas analíticas de última generacion a tu servicio. Trabajadores, empleadores e
                    instituciones educativas, pueden ahora basar sus decisiones en lo que "realmente" requiere el mercado.</p>
            </div>
            <div class="left-panel" style="width: 50%">
                <img src="{% static 'website/img/circle_plot.png' %}" style="width: 350px">
            </div>
        </div>

        <!--                BANNER MESSASGE                 -->
        <div style="padding: 30px 0">
            <div class="right-panel" style="width: 40%">
                <h1>¡Empleatrón ha llegado!</h1>
                <p>Servimos de nexo entre la industria y las instituciones educativas, para que la oferta
                    de profesionales esté alineada a lo que la industria solicita.</p>
            </div>
            <div class="left-panel" style="width: 50%">
                <img src="{% static 'website/img/banner-1-3-tecnicas.png' %}" style="width: 100%">
            </div>
        </div>
    </div>

    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb05" style="position: absolute; top: 370px; right: 6px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype" style="POSITION: absolute; WIDTH: 16px; HEIGHT: 16px;"></div>
    </div>
    <!-- Bullet Navigator Skin End -->

</div>

</div>
{% endblock %}


{% block content %}
<!-- separador -->
<div class="wrapper" style="background-color: rgba(15,161,224,0.2); height:3px"></div>
<div class="wrapper" style="background-color: white;                height:5px"></div>
<div class="wrapper" style="background-color: rgba(15,161,224,0.4); height:5px"></div>
<div class="wrapper" style="background-color: white;                height:5px"></div>
<div class="wrapper" style="background-color: rgba(15,161,224,0.2); height:3px"></div>

<!-- Servicios -->
<div class="wrapper content-wrapper">
  <div class="center-panel">
      <h1 style="text-align: left">Soluciones</h1>
      <div class="centered-box service-item">
          <a href="">
              <!-- <img src="{% static 'website/img/services/pic06.jpg' %}"> -->
              <h2>A entidades educativas</h2>
              <p>Empleatrón ofrece servicios de consultoría con el objetivo de permitir
                  a las instituciones educativas tener un panorama actualizado de la
                  demanda laboral. Este servicio les permitirá no solo implementar nuevas ofertas educativas,
                  sino también evaluar la continuidad de las actuales.</p>
          </a>
      </div>

      <div class="centered-box service-item">
          <a href="">
              <!--<img src="{% static 'website/img/services/pic06.jpg' %}">-->
              <h2>A trabajadores</h2>
              <p>Empleatrón ofrece información relevante y actualizada para ayudar a
                  estudiantes y trabajadores a tomar mejores decisiones respecto a su
                  desarrollo profesional. Con dicha información no solo les será posible
                  decidir qué conocimientos y experiencias adquirir, sino también evaluar la
                  idoneidad de las ofertas educativas.</p>
          </a>
      </div>

      <div class="centered-box service-item">
          <a href="">
              <!--<img src="{% static 'website/img/services/pic06.jpg' %}">-->
              <h2>A empleadores</h2>
              <p>Empleatrón cuenta con acceso a información sobre los requerimientos
                  más solicitados en el mundo laboral. Ello permitirá a las
                  organizaciones anticipar cuellos de botella en sus RRHH e implementar
                  de manera más efectiva programas de capacitación que les brinden
                  ventajas competitivas.</p>
          </a>
      </div>
  </div>
</div>

<!-- separador -->
<div class="wrapper" style="background-color: rgba(15,161,224,0.2); height:3px"></div>
<div class="wrapper" style="background-color: white;                height:5px"></div>
<div class="wrapper" style="background-color: rgba(15,161,224,0.4); height:5px"></div>
<div class="wrapper" style="background-color: white;                height:5px"></div>
<div class="wrapper" style="background-color: rgba(15,161,224,0.2); height:3px"></div>


<!-- Panorama  -->
<div class="wrapper content-wrapper">
    <div class="center-panel">
        <h1 style="text-align: left"><a href="{% url 'panorama' %}">Panorama del Mercado</a></h1>
        <div class="centered-box panorama-item">
          <a href="{% url 'treemap' %}">
              <img src="{% static 'website/img/treemap.png' %}">
              <h2>Panorama de la demanda laboral peruana</h2>
              <p>Entre marzo y agosto del 2014, nuestros algoritmos identificaron
                  un total de 70 mil avisos de trabajo, en diversas
                  fuentes de la internet.</p>
          </a>
        </div>

        <div class="centered-box panorama-item" style="width: 300px">
          <a href="{% url 'circleplot' %}">
              <img src="{% static 'website/img/circle_plot.png' %}">
              <h2>Interrelación entre carreras en el Perú</h2>
              <p>Muy frecuentemente los avisos de trabajo mencionan
                  más de una carrera técnica o universitaria.</p>
          </a>
        </div>
    </div>
</div>

<!-- separador -->
<div class="wrapper" style="background-color: rgba(15,161,224,0.2); height:3px"></div>
<div class="wrapper" style="background-color: white;                height:5px"></div>
<div class="wrapper" style="background-color: rgba(15,161,224,0.4); height:5px"></div>
<div class="wrapper" style="background-color: white;                height:5px"></div>
<div class="wrapper" style="background-color: rgba(15,161,224,0.2); height:3px"></div>


<!---------------------------------------------------     BLOG -->
<div class="wrapper content-wrapper">
    <h1 class="fa fa-file-text-o">Visita nuestro Blog</h1>
    <div class="left-panel">
        {% if posts|length > 0 %}
        {% for post in posts %}
        <div class="list_blog-item">
            <div class="inline" style="width: 25%;padding: 0">
                <a href="{{ post.url }}" >
                    <img src="{%  static post.list_img.url %}">
                </a>
            </div>
            <div class="inline" style="width: 65%">
                <h3>{{post.date|date:"b d,Y"|capfirst}}</h3>
                <a href="{{ post.url }}" ><h2>{{post.title}}</h2></a>
                <p>{{ post.content_file|open_content|striptags|truncatewords_html:30 }}</p>
                <span><a href="{{ post.url }}">  Leer más...</a></span>
            </div>
        </div>
        <hr>
        {% endfor %}
        {% endif %}
    </div>

    <div class="right-panel">
        <h2 class="fa fa-file-text-o">Lo último</h2>
        <div class="list_blog-item">
            {% if posts|length > 0 %}
            <div class="inline">
                <a href="{{ last.url }}" >
                    <img src="{%  static last.list_img.url %}">
                </a>
            </div>
            <div class="inline">
                <h3>{{last.date|date:"b d,Y"|capfirst}}</h3>
                <a href='{{last.url}}'><h2>{{last.title}}</h2></a>
                <p>{{last.content_file|open_content|striptags|truncatewords_html:30}}</p>
                <span><a href="{{ post.url }}">  Leer más...</a></span>
            </div>
            {% endif %}
            <div style="margin:0 auto; text-align: center; padding-top: 50px">
                <a href="{% url 'blog-list' %}" class="button alt">Mucho más</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
