{% extends "website/base/base.html" %}
{% load static from staticfiles %}
{% load blog_filters %}

{% block title %}Panorama del mercado laboral peruano{% endblock %}

{% block css %}
<style type="text/css">
    .chart {
      display: block;
      margin: auto;
      margin-top: 40px;
    }
    rect {
      fill: none;
    }
</style>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{% static 'website/js/d3.js' %}"></script>
{% endblock %}


{% block content %}
<div id="treemap-wrapper" class="wrapper content-wrapper">
    <div class="center-panel">
        <div style="text-align: justify; padding: 0 5%">
            <h1>Panorama de la demanda laboral peruana</h1>


            <div style = "clear:both">
            <p>Data tomada entre julio del 2014 hasta enero del 2015, inclusive. </p>
            <p>Haga click dentro o fuera de cada bloque para acercar o alejar la vista.</p>
            </div>
        </div>
    </div>
</div>
  	
<script>

var w = 1350 - 80,
    h = 750 - 180,
    x = d3.scale.linear().range([0, w]),
    y = d3.scale.linear().range([0, h]),
    color = d3.scale.category20c(),
    root,
    node;

var treemap = d3.layout.treemap()
    .round(false)
    .size([w, h])
    .sticky(true)
    .value(function(d) { return d.size; });

var svg = d3.select("body").select("#treemap-wrapper").append("div")
    .attr("class", "chart")
    .style("width", w + "px")
    .style("height", h + "px")
  .append("svg:svg")
    .attr("width", w)
    .attr("height", h)
  .append("svg:g")
    .attr("transform", "translate(.5,.5)");

d3.json("/static/website/js/new_data_carreras.json", function(data) {
  node = root = data;

  console.log(data);

  var nodes = treemap.nodes(root)
      .filter(function(d) { return !d.children; });

  var precell = svg.selectAll("g")
      .data(nodes)
    .enter().append("svg:g")
      .attr("class", "cell")
      .attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  var cell = precell.on("click", function(d) { return zoom(node == d.parent ? root : d.parent); });

  cell.append("svg:rect")
      .attr("width", function(d) { return d.dx - 1; })
      .attr("height", function(d) { return d.dy - 1; })
      .style("fill", function(d) { return color(d.parent.name); });

  cell.append("svg:text")
      .attr("x", function(d) { return d.dx / 2; })
      .attr("y", function(d) { return d.dy / 2; })
      .attr("dy", ".35em")
      .attr("text-anchor", "middle")
      .text(function(d) { 
      	var name = d.name;
        if (name.indexOf('Higiene') != -1)
            name = 'Ing. Higiene y SI';
        if (name.indexOf('Telecomunicaciones') != -1)
            name = 'Ing. Telecom.';
      	if(d.size >= 5000)
      		name = name + " ("+d.size+")";
	      return name;
      })
      .style("opacity", function(d) { d.w = this.getComputedTextLength(); return d.dx > d.w ? 1 : 0; })
      .style("font-size",function(d) {
				var fs = Math.max(Math.min(Math.round(d.dy-3), Math.min(22,Math.round((d.dx-1) / d.name.length)) ), 12);
      	return fs+"px";
      });

  precell.append("svg:title")
        .text(function(d){
            return d.name + " (" + d.size + ")";
        });


  d3.select(window).on("click", function() { zoom(root); });

});

function size(d) {
  return d.size;
}

function zoom(d) {
  console.log(d);

  var kx = w / d.dx, ky = h / d.dy;
  x.domain([d.x, d.x + d.dx]);
  y.domain([d.y, d.y + d.dy]);

  var t = svg.selectAll("g.cell").transition()
      .duration(d3.event.altKey ? 7500 : 750)
      .attr("transform", function(d) { return "translate(" + x(d.x) + "," + y(d.y) + ")"; });

  t.select("rect")
      .attr("width", function(d) { return kx * d.dx - 1; })
      .attr("height", function(d) { return ky * d.dy - 1; });

  t.select("text")
      .attr("x", function(d) { return kx * d.dx / 2; })
      .attr("y", function(d) { return ky * d.dy / 2; })
      .style("opacity", function(d) { return kx * d.dx > d.w ? 1 : 0; })
	    .style("font-size",function(d) {
				var fs = Math.max(Math.min(Math.round(ky*d.dy-3), Math.min(22,Math.round((kx*d.dx-1) / d.name.length)) ), 12);
      	return fs+"px";
      });

  node = d;
  d3.event.stopPropagation();
}

</script>
{% endblock %}