{% extends "website/base/base.html" %}
{% load static from staticfiles %}
{% load blog_filters %}

{% block title %}Panorama del mercado laboral peruano{% endblock %}

{% block css %}
<style>
    #circle circle {
      fill: none;
      pointer-events: all;
    }

    .group path {
      fill-opacity: .5;
    }

    path.chord {
      stroke: #000;
      stroke-width: .25px;
    }

    #circle:hover path.fade {
      display: none;
    }

    #circle path.fade {
      display: none;
    }

    .panel {
        display : inline-block;
        vertical-align: top;
        margin-right: 10px;
        width : 270px;
    }
    .panel ul > li {
        padding : 3px 5px 3px 20px;
    }
</style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'website/js/d3.js' %}"></script>
{% endblock %}

{% block content %}
<div id="circleplot-wrapper" class="wrapper content-wrapper" style="width: 95%">
    <div class="center-panel">
        <div style="text-align: justify; padding: 0 5%">
            <h1>Interrelación entre carreras en el Perú</h1>

            

            <div style = "clear:both">
            <p>Data tomada entre julio del 2014 hasta enero del 2015, inclusive. </p>
            
            <p>Para volver a visualizar <span style="text-decoration: underline">todas</span> las interconexiones haga click en <b>Refresh</b>.
                En este estado los valores entre paréntesis corresponden al número total de avisos que mencionan cada carrera correspondiente.</p>
            <form> <button id="refresh" type="submit">Refresh</button> </form>
            </div>
        </div>
    </div>
</div>


<script>

var width = 700,
    height = 600,
    outerRadius = Math.min(width, height) / 2 - 10,
    innerRadius = outerRadius - 24;

var formatPercent = d3.format(".1%");
var fill = d3.scale.category20b();

// refresh button
d3.select("form")
        .style("padding-left",function(){ return Math.floor(width / 2.0 - 15) + "px";})
        .style("margin-bottom","10px");

/////
var arc = d3.svg.arc()
    .innerRadius(innerRadius)
    .outerRadius(outerRadius);

var layout = d3.layout.chord()
//    .padding(.04)
    .sortSubgroups(d3.descending)
    .sortChords(d3.ascending);

var path = d3.svg.chord()
    .radius(innerRadius);

var svg = d3.select("body").select("#circleplot-wrapper").append("div")
        .style("display","inline-block")
        .style("vertical-align","top")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("id", "circle")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");

var panelIzq = d3.select("body").select("#circleplot-wrapper").append("div")
        .attr("class",'panel')
        .insert("ul")
        .style("list-style","none");

var panelDer = d3.select("body").select("#circleplot-wrapper").append("div")
        .attr("class",'panel')
        .insert("ul")
        .style("list-style","none");

var sortedPanel = d3.select("body").select("#circleplot-wrapper").append("div")
        .attr("class","center-panel");

var careerThreshold = 15;
sortedPanel.append("h2")
        .style("text-align","left")
        .text("Primeras "+ careerThreshold + " carreras más pedidas");
sortedPanel.append("ul")
        .style("text-align","left");

svg.append("circle")
    .attr("r", outerRadius);

d3.json("/static/website/js/new_data_adjmatrix.json", function(nodes) {
    var indexByName = d3.map(),
      nameByIndex = d3.map(),
      sizeByIndex = d3.map(),
      matrix = [],
      n = 0;

    var N_2 = Math.floor(nodes.length/2);

    //console.log(nodes);

    nodes.forEach(function(d) {
        if (!indexByName.has(d.name)) {
          nameByIndex.set(n, d.name);
          sizeByIndex.set(n, d.size);
          indexByName.set(d.name, n++);
        }
     });

// -----------------------------------------------------------------------------------------------------------------------------
    // ordenar data
    var sorted = nodes.slice();
    sorted.sort(function(a,b){ return b.size - a.size;});

    // FILTRO MIN WEIGHT %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
    var MIN_WEIGHT = 5;             // minima cantidad de aristas para ser graficado

    // llenar lista de mas pedidos
    sortedPanel.select("ul")
            .selectAll("li")
            .data(sorted.slice(0,careerThreshold))
          .enter().append("li")
            .text(function(d){ return d.name + " : " + d.size; });

// -----------------------------------------------------------------------------------------------------------------------------

    // Construct a square matrix counting package imports.
    nodes.forEach(function(d) {
        var source = indexByName.get(d.name),
            row = matrix[source];
        var maxEdge = d3.max(d.imports,function(edge){ return edge.weight;});
        if (!row) {
         row = matrix[source] = [];
         for (var i = 0; i < n;i++) row[i] = 0;
        }
        d.imports.forEach(function(imp) {
            if (maxEdge <= MIN_WEIGHT || imp.weight > MIN_WEIGHT)
                row[indexByName.get(imp.name)]= imp.weight;
            else
                row[indexByName.get(imp.name)]= 0;
        });
    });

    // Compute the chord layout.
    layout.matrix(matrix);

    //console.log(layout.groups);

    // Add a group per neighborhood.
    var group = svg.selectAll(".group")
        .data(layout.groups)
      .enter().append("g")
        .attr("class", "group")
        .on("mouseover", mouseover);

    // Add a mouseover title.
    group.append("title").text(function(d) {
      //console.log(d);
      return nameByIndex.get(d.index) + ": " + sizeByIndex.get(d.index) + " posts";
    });

    // Add the group arc.
    var groupPath = group.append("path")
        .attr("id", function(d, i) { return "group" + i; })
        .attr("d", arc)
        .style("fill", function(d) { return fill(d.index); });

    // Add a text label.
    var groupText = group.append("text")
        .attr("dx", 6)
        .attr("dy", 15);

    groupText.append("textPath")
        .attr("xlink:href", function(d, i) { return "#group" + i; })
        .text(function(d) { return nameByIndex.get(d.index); });

    // Remove the labels that don't fit. :(
    groupText.filter(function(d) { return groupPath[0][d.index].getTotalLength() / 2 - 16 < this.getComputedTextLength(); })
        .remove();


    // Add the chords.
    var chord = svg.selectAll(".chord")
        .data(layout.chords)
      .enter().append("path")
        .attr("class", "chord")
        .style("fill", function(d) { return fill(d.source.index); })
        .attr("d", path);


    // Add an elaborate mouseover title for each chord.
    chord.append("title").text(function(d) {
      return nameByIndex.get(d.source.index)
          + " - " + nameByIndex.get(d.target.index)
          + ": " + matrix[d.source.index][d.target.index]
    });

    // -----------------------------------------------------------------------------------------------------------------------------
    // Llenar lista de carreras en paneles
    var half_node1 = nodes.slice(0,N_2);
    var half_node2 = nodes.slice(N_2, nodes.length);

    var list_Izq =    panelIzq.selectAll("li")
                            .data(half_node1)
                          .enter().append("li")
                            .style("background-color", function(d) { return fill(indexByName.get(d.name)); })
                            .attr("id",function(d){ return "idx" + indexByName.get(d.name);} );                     // css id no pueden empezar con numeros
    list_Izq.on("click",click);
    list_Izq.insert("a")
            .text(function(d){return d.name + " (" + d.size + ")";});

    var list_Der =    panelDer.selectAll("li")
                            .data(half_node2)
                          .enter().append("li")
                            .style("background-color", function(d) { return fill(indexByName.get(d.name)); })
                            .attr("id",function(d){ return "idx" + indexByName.get(d.name);} );                     // css id no pueden empezar con numeros
    list_Der.on("click",click);
    list_Der.insert("a")
            .text(function(d){return d.name + " (" + d.size + ")";});


    // -----------------------------------------------------------------------------------------------------------------------------

    function click(nd,i){
        var idx = indexByName.get(nd.name);
        console.log(idx);

        chord.classed("fade", function(p) {
        return p.source.index != idx
            && p.target.index != idx;
        });

        updateTargetList(nd,idx);
    }

    function mouseover(d, i) {
        console.log(i);
        chord.classed("fade", function(p) {
        return p.source.index != i
            && p.target.index != i;
        });
        updateTargetList(nodes[i],i);
    }

    function updateTargetList(nd,i) {
        list_Izq.style("background-color", "white");
        list_Der.style("background-color", "white");

        list_Izq.select("a")
            .text(function(d){return d.name;});
        list_Der.select("a")
            .text(function(d){return d.name;});

        var node = nodes[indexByName.get(nd.name)];
        var maxEdge = d3.max(node.imports,function(imp){ return imp.weight; });

        node.imports.forEach(function(d){
            var idx = indexByName.get(d.name);
            if (maxEdge <= MIN_WEIGHT || d.weight > MIN_WEIGHT || idx==i) {
                var target;
                if (idx < N_2)
                    target = panelIzq.select("#idx" + idx);
                else
                    target = panelDer.select("#idx" + idx);

                if (idx != i) {
                    target.transition()
                            .duration(250)
                            .style("background-color", function (d) {
                                return fill(indexByName.get(d.name));
                            });
                    target.select('a')
                            .text(function () {
                                return d.name + " (" + d.weight + ")";
                            });
                } else {
                    target.transition()
                            .duration(250)
                            .style("background-color", "yellow");
                    target.select('a')
                            .text(function () {
                                return d.name + " (" + d.weight + ") | Total [" + nd.size + "]";
                            });
               }
            }
        });
    }

    function get_type(thing){
        if(thing===null)return "[object Null]"; // special case
        return Object.prototype.toString.call(thing);
    }
});

</script>

{% endblock %}