{% extends "website/base/base.html" %}
{% load static from staticfiles %}
{% load blog_filters %}

{% block title %}Panorama del mercado laboral peruano{% endblock %}

{% block content %}
<div class="wrapper content-wrapper">
    <div class="center-panel">
        <h1 style="text-align: left">Panorama del Mercado</h1>
        <div class="centered-box panorama-item">
          <a href="{% url 'treemap' %}">
              <h2>Panorama de la demanda laboral peruana</h2>
              <p>Entre marzo y agosto del 2014, nuestros algoritmos identificaron
                  un total de 70 mil avisos de trabajo, en diversas
                  fuentes de la internet. Este gráfico muestra de forma interactiva
                  la distribución de avisos por carrera.
              </p>
              <img src="{% static 'website/img/treemap.png' %}">
          </a>
        </div>

        <div class="centered-box panorama-item" style="width: 300px">
          <a href="{% url 'circleplot' %}">
              <h2>Interrelación entre carreras en el Perú</h2>
              <p>Muy frecuentemente los avisos de trabajo mencionan más de una carrera
                  técnica o universitaria. El siguiente diagrama permite ver cuáles de
                  ellas más comúnmente comparten avisos de empleos.<br>
                  Explore de manera interactiva la conexión entre las carreras según el mercado.
              </p>
              <img src="{% static 'website/img/circle_plot.png' %}">
          </a>
        </div>
        <h4>Haga click en cada figura para abrir la versión interactiva</h4>
    </div>
</div>
{% endblock %}