{% extends "website/base/base.html" %}
{% load static from staticfiles %}


{% block css %}
    <link rel="stylesheet" href="{% static 'website/css/sliders.css' %}"/>
    <!-- Bullet Navigator Skin Begin -->
    <!-- jssor slider bullet navigator skin 01 -->
    <style>
        /*
        .jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)
        */
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
        {
            filter: alpha(opacity=70);
            opacity: .7;
            overflow:hidden;
            cursor: pointer;
            border: #000 1px solid;
        }
        .jssorb01 div { background-color: gray; }
        .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
        .jssorb01 .av { background-color: #fff; }
        .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
    </style>

    <style>
        /* jssor slider arrow navigator skin 12 css */
        /*
        .jssora12l              (normal)
        .jssora12r              (normal)
        .jssora12l:hover        (normal mouseover)
        .jssora12r:hover        (normal mouseover)
        .jssora12ldn            (mousedown)
        .jssora12rdn            (mousedown)
        */
        .jssora12l, .jssora12r, .jssora12ldn, .jssora12rdn {
            position: absolute;
            cursor: pointer;
            display: block;
            background: url("{% static 'website/img/icons/a12.png'  %}") no-repeat;
            overflow: hidden;
        }

        .jssora12l {
            background-position: -16px -37px;
        }

        .jssora12r {
            background-position: -75px -37px;
        }

        .jssora12l:hover {
            background-position: -136px -37px;
        }

        .jssora12r:hover {
            background-position: -195px -37px;
        }

        .jssora12ldn {
            background-position: -256px -37px;
        }

        .jssora12rdn {
            background-position: -315px -37px;
        }
    </style>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'website/js/jssor.core.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jssor.slider.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/jssor.utils.js' %}"></script>
    <script>
        jQuery(document).ready(function () {
            var _SlideshowTransitions = [
            //Fade in R
            {$Duration: 1200, x: -0.3, $During: { $Left: [0.3, 0.7] }, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            //Fade out L
            , { $Duration: 1200, x: 0.3, $SlideOut: true, $Easing: { $Left: $JssorEasing$.$EaseInCubic, $Opacity: $JssorEasing$.$EaseLinear }, $Opacity: 2 }
            ];

            var options = {
                $AutoPlay: true,                                    //[Optional] Whether to auto play, to enable slideshow, this option must be set to true, default value is false
                $AutoPlaySteps: 1,                                  //[Optional] Steps to go for each navigation request (this options applys only when slideshow disabled), the default value is 1
                $AutoPlayInterval: 15000,                            //[Optional] Interval (in milliseconds) to go for next slide since the previous stopped if the slider is auto playing, default value is 3000
                $PauseOnHover: 1,                               //[Optional] Whether to pause when mouse over if a slider is auto playing, 0 no pause, 1 pause for desktop, 2 pause for touch device, 3 pause for desktop and touch device, 4 freeze for desktop, 8 freeze for touch device, 12 freeze for desktop and touch device, default value is 1

                $ArrowKeyNavigation: true,   			            //[Optional] Allows keyboard (arrow key) navigation or not, default value is false
                $SlideDuration: 500,                                //[Optional] Specifies default duration (swipe) for slide in milliseconds, default value is 500
                $MinDragOffsetToSlide: 20,                          //[Optional] Minimum drag offset to trigger slide , default value is 20
                //$SlideWidth: 600,                                 //[Optional] Width of every slide in pixels, default value is width of 'slides' container
                //$SlideHeight: 300,                                //[Optional] Height of every slide in pixels, default value is height of 'slides' container
                $SlideSpacing: 0, 					                //[Optional] Space between each slide in pixels, default value is 0
                $DisplayPieces: 1,                                  //[Optional] Number of pieces to display (the slideshow would be disabled if the value is set to greater than 1), the default value is 1
                $ParkingPosition: 0,                                //[Optional] The offset position to park slide (this options applys only when slideshow disabled), default value is 0.
                $UISearchMode: 1,                                   //[Optional] The way (0 parellel, 1 recursive, default value is 1) to search UI components (slides container, loading screen, navigator container, arrow navigator container, thumbnail navigator container etc).
                $PlayOrientation: 1,                                //[Optional] Orientation to play slide (for auto play, navigation), 1 horizental, 2 vertical, 5 horizental reverse, 6 vertical reverse, default value is 1
                $DragOrientation: 3,                                //[Optional] Orientation to drag slide, 0 no drag, 1 horizental, 2 vertical, 3 either, default value is 1 (Note that the $DragOrientation should be the same as $PlayOrientation when $DisplayPieces is greater than 1, or parking position is not 0)

                $SlideshowOptions: {                                //[Optional] Options to specify and enable slideshow or not
                    $Class: $JssorSlideshowRunner$,                 //[Required] Class to create instance of slideshow
                    $Transitions: _SlideshowTransitions,            //[Required] An array of slideshow transitions to play slideshow
                    $TransitionsOrder: 1,                           //[Optional] The way to choose transition to play slide, 1 Sequence, 0 Random
                    $ShowLink: true                                    //[Optional] Whether to bring slide link on top of the slider when slideshow is running, default value is false
                },

                $BulletNavigatorOptions: {                                //[Optional] Options to specify and enable navigator or not
                    $Class: $JssorBulletNavigator$,                       //[Required] Class to create navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $Lanes: 1,                                      //[Optional] Specify lanes to arrange items, default value is 1
                    $SpacingX: 10,                                   //[Optional] Horizontal space between each item in pixel, default value is 0
                    $SpacingY: 10                                    //[Optional] Vertical space between each item in pixel, default value is 0
                },

                $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$,              //[Requried] Class to create arrow navigator instance
                    $ChanceToShow: 2,                                //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $AutoCenter: 2                                 //[Optional] Auto center navigator in parent container, 0 None, 1 Horizontal, 2 Vertical, 3 Both, default value is 0
                },

                $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,              //[Required] Class to create thumbnail navigator instance
                    $ChanceToShow: 2,                               //[Required] 0 Never, 1 Mouse Over, 2 Always
                    $ActionMode: 0,                                 //[Optional] 0 None, 1 act by click, 2 act by mouse hover, 3 both, default value is 1
                    $DisableDrag: true                              //[Optional] Disable drag or not, default value is false
                }
            };
            var jssor_slider1 = new $JssorSlider$("slider_index", options);
        });
    </script>

{% endblock %}


{% block content %}
<div class="wrapper content-wrapper" style="width: 80%">
    <div class="center-panel">
        <h1 style="text-align: left"> Acerca de nosotros </h1>
        <div class="left-panel" style="text-align: left; font-size: 14px; width: 35%">
            <p>Cada año miles de jóvenes egresan de centros educativos superiores,
                sin embargo, muchos de ellos no podrán encontrar un empleo que satisfaga sus expectativas.
            </p>
            <p>Por otro lado, el Perú se encuentra entre los países en los que es más difícil encontrar talento,
                de acuerdo a ejecutivos de empresas locales.
            </p>
            <p>Empleatrón es una empresa startup que  hace uso de diversas herramientas analíticas,
                con el objetivo de permitir a empleados, empleadores e instituciones académicas,
                tomar las mejores decisiones basadas en datos rigurosamente procesados y analizados.
            </p>

            <h2>Enfoque</h2>
            <p>Empleatrón busca:</p>
            <p>Impactar positivamente en la empleabilidad de jóvenes estudiantes, así como de trabajadores
                en media carrera, al permitirles tener una mejor visión de lo que el mercado laboral demanda.</p>
            <p>Ayudar a disminuir la brecha que hoy existe entre la oferta y la demanda en el mercado laboral.</p>
            <p>Servir de nexo entre la industria y las instituciones educativas, para que la oferta de profesionales
                tenga una mayor correlación con las necesidades de la industria.</p>
        </div>

        <div class="right-panel" style="width: 55%; padding-left: 30px">
            <!-- Slider de wordclouds (phtos)-->
            <div id="slider_index" style="width: 600px;height: 300px">
                <!-- JS Slider intended -->
                <div u="slides" style=" cursor: move;
                                        position: absolute;
                                        left: 0px; top: 0px;
                                        width: 600px;
                                        height: 300px;
                                        overflow: hidden;
                                        display: block;
                                        vertical-align: middle;">

                    <!--                BANNER MESSASGE                 -->
                    {% if graficas|length > 0 %}
                    {% for graph in graficas %}
                    <div style="padding: 30px 0">
                        <img u="image" src="{% static graph.photo.url_500x400 %}">
                        <div u="thumb">{{ graph.title }}</div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>

                <!-- ThumbnailNavigator Skin Begin -->
                <div u="thumbnavigator" class="sliderb-T" style="position: absolute; bottom: 0px; left: 0px; height:45px; width:600px;">
                    <div style="filter: alpha(opacity=40); opacity:0.4; position: absolute; display: block;
                        background-color: #000000; top: 0px; left: 0px; width: 100%; height: 100%;">
                    </div>
                    <!-- Thumbnail Item Skin Begin -->
                    <div u="slides">
                        <div u="prototype" style="POSITION: absolute; WIDTH: 600px; HEIGHT: 45px; TOP: 0; LEFT: 0;">
                            <thumbnailtemplate style="  font-family: verdana;
                                                        font-weight: normal;
                                                        POSITION: absolute;
                                                        WIDTH: 100%;
                                                        HEIGHT: 100%;
                                                        TOP: 0; LEFT: 0;
                                                        color:#fff;
                                                        line-height: 45px;
                                                        font-size:12px;
                                                        text-align:left;
                                                        padding-left:10px;"></thumbnailtemplate>
                        </div>
                    </div>
                    <!-- Thumbnail Item Skin End -->
                </div>
                <!-- ThumbnailNavigator Skin End -->

                <!-- bullet navigator container -->
                <div u="navigator" class="jssorb01" style="position: absolute; bottom: 16px; right: 10px;">
                    <!-- bullet navigator item prototype -->
                    <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
                </div>
                <!-- Bullet Navigator Skin End -->

                <!-- Arrow Left -->
                <span u="arrowleft" class="jssora12l" style="width: 30px; height: 46px; top: 123px; left: 0px;">
                </span>
                <!-- Arrow Right -->
                <span u="arrowright" class="jssora12r" style="width: 30px; height: 46px; top: 123px; right: 0px">
                </span>
                <!-- Arrow Navigator Skin End -->

            </div>

        </div>
    </div>
</div>

{% endblock %}