{% extends "website/base/base.html" %}
{% load static from staticfiles %}
{% load blog_filters %}

{% block title %}Servicios{% endblock %}
{% block css %}
    {{ block.super }}
    <style>
    </style>
{% endblock %}

{% block content %}
<!-- Servicios -->
<div class="wrapper content-wrapper">
  <div class="center-panel">
      <h1 style="text-align: left">Soluciones</h1>
      <div class="centered-box service-item">
          <a href="">
              <!-- <img src="{% static 'website/img/services/pic06.jpg' %}"> -->
              <h2>A entidades educativas</h2>
              <p>Empleatrón ofrece servicios de consultoría con el objetivo de permitir
                  a las instituciones educativas tener un panorama actualizado de la
                  demanda laboral. Este servicio les permitirá no solo implementar nuevas ofertas educativas,
                  sino también evaluar la continuidad de las actuales.</p>
          </a>
      </div>

      <div class="centered-box service-item">
          <a href="">
              <!--<img src="{% static 'website/img/services/pic06.jpg' %}">-->
              <h2>A trabajadores</h2>
              <p>Empleatrón ofrece información relevante y actualizada para ayudar a
                  estudiantes y trabajadores a tomar mejores decisiones respecto a su
                  desarrollo profesional. Con dicha información no solo les será posible
                  decidir qué conocimientos y experiencias adquirir, sino también evaluar la
                  idoneidad de las ofertas educativas.</p>
          </a>
      </div>

      <div class="centered-box service-item">
          <a href="">
              <!--<img src="{% static 'website/img/services/pic06.jpg' %}">-->
              <h2>A empleadores</h2>
              <p>Empleatrón cuenta con acceso a información sobre los requerimientos
                  más solicitados en el mundo laboral. Ello permitirá a las
                  organizaciones anticipar cuellos de botella en sus RRHH e implementar
                  de manera más efectiva programas de capacitación que les brinden
                  ventajas competitivas.</p>
          </a>
      </div>
  </div>
</div>
{% endblock %}