/* line 4, ../sass/account.sass */
html, body, #wrappper {
  height: 100%; }

/* line 7, ../sass/account.sass */
#wrapper {
  height: auto;
  min-height: 100%;
  overflow-x: hidden; }

/* line 18, ../sass/account.sass */
.page-account #wrapper > .inner {
  width: 420px;
  padding: 40px 60px;
  background: white;
  margin: 40px auto 20px;
  overflow: hidden; }
  /* line 24, ../sass/account.sass */
  .page-account #wrapper > .inner .head {
    border-bottom: 1px solid #dddddd;
    text-align: center; }
    /* line 27, ../sass/account.sass */
    .page-account #wrapper > .inner .head img {
      height: 48px; }
    /* line 29, ../sass/account.sass */
    .page-account #wrapper > .inner .head h1 {
      font-size: 28px;
      font-weight: normal; }
  /* line 32, ../sass/account.sass */
  .page-account #wrapper > .inner .content {
    padding-top: 30px; }
    /* line 34, ../sass/account.sass */
    .page-account #wrapper > .inner .content label {
      display: inline-block; }
    /* line 36, ../sass/account.sass */
    .page-account #wrapper > .inner .content span.required {
      font-weight: bold;
      color: #eb5f3a; }
    /* line 39, ../sass/account.sass */
    .page-account #wrapper > .inner .content p.message-info {
      background: #f2dd93;
      margin-left: -60px;
      padding: 8px 60px;
      width: 420px;
      color: #555555;
      font-style: italic;
      margin-bottom: 30px;
      font-size: 15px; }
    /* line 48, ../sass/account.sass */
    .page-account #wrapper > .inner .content p.required {
      display: inline-block; }
      /* line 50, ../sass/account.sass */
      .page-account #wrapper > .inner .content p.required span {
        font-weight: bold;
        color: #eb5f3a; }
    /* line 53, ../sass/account.sass */
    .page-account #wrapper > .inner .content p.submit {
      padding-top: 10px;
      margin: 0; }
    /* line 56, ../sass/account.sass */
    .page-account #wrapper > .inner .content .help-inline {
      color: #888888;
      margin-top: -7px;
      margin-bottom: 17px;
      font-weight: normal;
      font-size: 15px;
      font-style: italic; }
      /* line 63, ../sass/account.sass */
      .page-account #wrapper > .inner .content .help-inline.error {
        font-style: normal;
        color: #eb5f3a;
        font-weight: bold; }
/* line 68, ../sass/account.sass */
.page-account #wrapper input[type='text'],
.page-account #wrapper input[type='password'] {
  width: 100%;
  border: 2px solid #eeeeee;
  padding: 1em;
  font-size: 14px;
  box-sizing: border-box;
  margin-bottom: 10px;
  transition: all 0.1s ease;
  outline: none;
  line-height: 18px;
  color: #44b2ae;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 84, ../sass/account.sass */
  .page-account #wrapper input[type='text']:focus,
  .page-account #wrapper input[type='password']:focus {
    border-color: #cccccc; }
/* line 87, ../sass/account.sass */
.page-account #wrapper .btn.green {
  float: right;
  background: #44b2ae;
  border: 0;
  text-shadow: none;
  color: white;
  padding: 8px 24px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px; }
  /* line 95, ../sass/account.sass */
  .page-account #wrapper .btn.green .light {
    color: #afe6e4; }
  /* line 97, ../sass/account.sass */
  .page-account #wrapper .btn.green:hover {
    background: #3a9895; }
/* line 100, ../sass/account.sass */
.page-account #wrapper a.reset {
  float: left;
  color: #666666;
  font-weight: bold;
  font-size: 15px;
  padding-top: 7px; }
/* line 106, ../sass/account.sass */
.page-account #wrapper a.grey {
  color: #444444;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 20px;
  display: block;
  text-align: center; }
