{% extends "website/base/base.html" %}
{% load static from staticfiles %}

{% block title %}Acuerdo de uso de datos de LinkedIn{% endblock %}

{% block content %}
<style>
.lista-normal {
  list-style: initial;
}
.lista-normal > li {
  margin-left: 50px;
}
.cuerpo-central {
  text-align: left;
  width: 50%;
  display: inline-block;
}
</style>

<div class="wrapper content-wrapper" style="width: 80%">
    <div class="center-panel" style="margin: 40px 0">
        <a href="{% url 'index' %}"><img src="{% static 'website/img/icons/apple-touch-icon-114x114-precomposed.png' %}"></a>
        <h3>Acuerdo de uso de datos de perfil LinkedIn</h3>
        {% if user and not user.is_anonymous %}
        <p>Muchas gracias por tu confianza.</p>
        <!--  
         <span style="color: blue">{{ user.get_full_name|default:user.username }}</span>.</p>
        <a href="{% url 'auth:logout' %}?next={{ request.path }}">Logout</a>
        -->
        {% else %}
          <div class="cuerpo-central">
            <p>Hola visitante, requerimos de tu ayuda!</p>
            <p>Queremos tu permiso para recopilar datos tu perfil en LinkedIn una sola vez, tal como están al dia de hoy. No se guarda correo electronico ni ninguna forma de contacto, asegurando que la información proporcionada sea anónima.</p>
            <p>La informacion que extraemos es la siguiente:</p>

            <ul class="lista-normal">
              <li>Resumen</li>
              <li>Historial educativo</li>
              <li>Habilidades</li>
              <li>Cursos y certificaciones</li>
              <li>Intereses</li>
              <li>Proyectos</li>
              <li>Experiencia laboral</li>
              <li>Idiomas</li>
              <li>Recomendaciones</li>
            </ul>
            <p>Estos datos serán usados en un estudio de inteligencia artificial que busca mejorar la calidad profesional peruana analizando la demanda y oferta laboral actual.</p>
            <p>Ayúdanos dando click en el boton de abajo.</p>
            <p>¡Muchas gracias!</p>
          </div>
          <div style="margin:0 auto; text-align: center; padding-top: 50px">
            <a href="{% url 'social:begin' backend='linkedin' %}?next={{ request.path }}" class="button alt">Aceptar</a>
          </div>
        {% endif %}
    </div>
</div>

{% endblock %}