{% extends "website/base/base.html" %}
{% load static from staticfiles %}

{% block banner %}{% endblock %}
{% block title %}Programas academicos de Post-grado{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'proyecto/d3.js' %}"></script>
    <script type="text/javascript" src='{% static "proyecto/jquery.js" %}'></script>
    <script type="text/javascript" src='{% static "proyecto/jquery.collapsible.js" %}'></script>
    <script>
        $(document).ready(function(){
            //collapsible management
            $('.collapsible').collapsible({
            });
        });
    </script>
{% endblock %}

{% block css%}
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">

    <style type="text/css">
        .wrapper-cluster{
            background-color: rgba(202, 204, 240, 0.16);
            width:90%;
            margin: 0 auto;
            margin-top: 40px;
            height: 690px;
            border-radius: 10px;
        }
        .left{
            display: inline-block;
            margin: 0;
            width: 78%;
            position: relative;
        }
        .right{
            display: inline-block;
            margin: 0;
            width: 20%;
            background-color: #52bacc;
            color: white;
            position: absolute;
            border-radius: 5px;
            
        }

        #footer{
            display: block;
            height: 36px;
            padding-left: 20px;
            vertical-align: middle;
            width: 100%;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-right-radius: 10px;

        }

        #tab_wrapper{
            display: block;
            background-color: rgba(192, 194, 230, 0.34);
            border-top-left-radius: 10px;
            text-align: right;
            height: 40px;
        }
        #tab_wrapper > a {
            padding: 10px 20px;
            font-size: 15px;
            font-weight: 700;
            display: block;
            float: left;
        }
        
        #tab_wrapper > a.back_button {
            color: black;
            background-color: rgba(0, 155, 211, 1);
            border-radius: 10px;
            float: right;
        }
        #tab_wrapper > a:hover {
            text-decoration: none;
        }
        #tab_wrapper > a.back_button:hover {
            color: white;
        }
        #tab_wrapper > a.hide {
            display: none;
        }

        .right_title{
            background-color: #4da7b9;
            color: ghostwhite;
            text-transform: uppercase;
            font-size: 17px;
            color: white;
            border-radius: 5px;
            padding: 10px 20px;
        }
        .contenido{
            color: black;
            font-size: 13px;
        }
        ul,li {
            padding: 0;
            margin: 0;
        }
        .contenido > ul{
            list-style: none;
        }
        .contenido > ul > li > ul{
            list-style: initial;
        }
        .contenido > ul > li > a{
            display: block;
            padding: 10px;
            color: rgb(245, 245, 245);
            font-size: 16px;
            text-decoration: none;
        }
        .contenido > ul > li > a:hover,
        .contenido > ul > li.active > a {
            text-decoration: none;
            background-color: #4da7b9;
            color: white;
        }
        .contenido > ul > li.active > ul > li {
            display: list-item;
        }
        .contenido > ul > li > ul > li{
            display: none;
            color: black;
            padding-bottom: 5px;
            padding-right: 10px;
            margin-left: 30px;

        }
        .legend{
            padding: 15px;
            color: black;
            font-weight: 700;
            float:left;
            clear: right;
        }
        .legend:hover {
            text-decoration: none;
        }

        svg {
            display: block;
        }

        .hide {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
  <div class="wrapper-cluster content-wrapper">
    <div class="left">
        <div id="tab_wrapper"></div>

        <div id="graphics"></div>
        
        <div id="footer">
        <!--    
            <b>Seleccione una carrera</b>
            <select name="career_list">
              <option value="nigga">Nigga</option>
              <option value="peruvian">Peruvian</option>
            </select>
        -->
        </div>
        
    </div
    ><div class="right">
        <div class="right_title">
          <b>Contenido</b>
          <!--
          <i class="icon-collapse-alt icon-2x" style="float:right"></i>
          -->
        </div>
        <!-- INNER COLLAPSABLE-->
        <div class="contenido"></div>
    </div>
  </div>
  	
  	
    <script>
var w = 1000,
    h = 600,
    padding = 1.5, // separation between same-color nodes
    clusterPadding = 30, // separation between different-color nodes
    minRadius = 5;
    maxRadius = 40;

var minRadius_zoom = 15,
    maxRadius_zoom = 40,
    padding_zoom = 20;


var n = 0, // total number of nodes
    m = 0; // number of distinct clusters

var fill = d3.scale.category20();

var svg = d3.select(".left")
        .select("#graphics")
        .append("svg")
        .attr("width",w)
        .attr("height",h);

var svg_zoom = d3.select(".left")
        .select("#graphics")
        .append("svg")
        .attr("width",w)
        .attr("height",h)
        .attr("class","svg_zoom")
        .attr("class","hide");

var force = d3.layout.force();

var nodes = [];
var links = [];
var radius_scale = d3.scale.linear();
var radius_scale_zoom = d3.scale.linear();
var clusters = [];

var node_dom_zoom;
var link_dom_zoom;
var nodes_zoom = [];
var links_zoom = [];

named_entities = [
  "req",
  "job",
  "area",
  "carr"
];

var fill_by_entities = d3.scale.category10().domain([0,named_entities.length-1]);

NE_titles = [
    "Requerimientos",
    "Trabajos",
    "Áreas",
    "Carreras"
]

///////////// BUILD RIGHT PANEL
var pre_content = d3.select(".right").select(".contenido");
var content = pre_content
                .append("ul")
                .attr("id","entities_list");

var cluster_title = d3.select(".left").select("#tab_wrapper")
                      .append("a")
                      .append("text");

// llenar footer
d3.select("#footer").selectAll("a")
    .data(named_entities).enter()
    .append("a")
    .attr("class","legend")
    .style("background-color",function(d,i){ return fill_by_entities(i)})
    .append("text")
    .text(function(d,i){ return NE_titles[i]; })

// boton de volver
d3.select("#tab_wrapper")
    .append("a")
    .attr("href","#")
    .attr("class","back_button")
    .append("text")
    .text("Volver");

// boton VOLVER
var back_button = d3.select(".back_button");
// legenda de entidades
var legend_ent = d3.selectAll(".legend");

var entity_per_cluster = [];
var text_inside;

//d3.json("static/cluster_20_features_100.json", function(dataset) {
//d3.json("{% static 'proyecto/cluster_20_features_100_solo_kw.json' %}", function(dataset) {
d3.json("{% static 'proyecto/clusterAgglo.json' %}", function(dataset) {
    var current_cluster = -1;
    var node;
    nodes = [];
    m = dataset.length;
    fill.domain(d3.range(m));
    clusters = new Array(m);
    entity_per_cluster = d3.range(m).map(function(){ return {};});

    var num_nodos = 0;

    dataset.forEach(function(cluster,id){
        var temp_cluster = [];
        var entities = cluster["NE"].slice();
        entities.sort(function(a,b){
            b["w"] - a["w"];
        });

        // guardar cluster : {entidad: _}
        entities.forEach(function(ne){
            if(!(ne.class in entity_per_cluster[id]))
                entity_per_cluster[id][ne.class] = [];
            var temp = ne;
            temp["cluster"] = id;
            temp["index"] = num_nodos++;
            temp["radius"] = 0;
            entity_per_cluster[id][ne.class].push(ne);
            temp_cluster.push(temp);
        });

        temp_cluster.sort(function(a,b){
            b["w"] - a["w"];
        });
        
        nodes = nodes.concat(temp_cluster.slice(0,10));

        var mx_ne = temp_cluster[0];
        clusters[id] = mx_ne;
    });

    n = nodes.length;

    nodes.sort(function(a,b){
        return a.w - b.w;
    });
    radius_scale.domain([nodes[0].w,nodes[n-1].w])
                .range([minRadius,maxRadius]);

    nodes.forEach(function(nod){
        nod["radius"] = radius_scale(nod.w);
    });
    
    // Use the pack layout to initialize node positions.
    d3.layout.pack()
        .sort(null)
        .size([w, h])
        .children(function(d) { return d.values; })
        .value(function(d) { return d.radius * d.radius; })
        .nodes({
                values: d3.nest()
                        .key(function(d){
                            return d.cluster;
                        })
                        .entries(nodes)
                });


    // inicializar evento click en VOLVER
    back_button.on("click",zoomOutClick);

    drawAllClusters();

    function zoomOutClick(){
        // Limpiar panel derecho:
        pre_content.select("ul").remove();
        content = pre_content
                    .append("ul")
                    .attr("id","entities_list");

        drawAllClusters();
        // visibilidad de SVGs
        svg.classed("hide",false);
        svg_zoom.classed("hide",true);
    }
    
    function drawAllClusters(){
        // boton de volver invisible
        back_button.classed("hide",true);
        // legenda de ENTIDADES invisible
        legend_ent.classed("hide",true);

        // set initial variables
        n = nodes.length;
        nodes.forEach(function(nod){
            nod["radius"] = radius_scale(nod.w);
        });

        force
                .nodes(nodes)
                .size([w, h])
                .charge(0)
                .gravity(0.02)
                .linkDistance(20)
                .on("tick", tick)
                .start();
        // limpiar SVG
        svg.selectAll("g").remove();

        svg.style("opacity", 1e-6)
                .transition()
                .duration(1000)
                .style("opacity", 1);

        var groups = svg.selectAll("g")
                .data(nodes)
                .enter().append("g");

        node = groups.append("circle")
                .style("fill", function (d) {
                    return fill(d.cluster);
                })
                .call(force.drag);

        node.append("title")
            .text(function(d){
                   return d.name.toLowerCase();
                });

        node.transition()
            .duration(750)
            .delay(function(d, i) { return i * 5; })
            .attrTween("r", function(d) {
                var inter = d3.interpolate(0, d.radius);
                return function(t) { return d.radius = inter(t); };
            });

        node.on("click",zoomInClick);
    }

    function tick(e) {
        node
            .each(cluster(10 * e.alpha *e.alpha))
            .each(collide(.5))
            .attr("cx", function (d) { return d.x; })
            .attr("cy", function (d) { return d.y; });
    }


    // Move d to be adjacent to the cluster node.
    function cluster(alpha) {
      return function(d) {
        var cluster = clusters[d.cluster];
        if (cluster === d) return;
        var x = d.x - cluster.x,
            y = d.y - cluster.y,
            l = Math.sqrt(x * x + y * y),
            r = d.radius + cluster.radius;
        if (l != r) {
          l = (l - r) / l * alpha;
          d.x -= x *= l;
          d.y -= y *= l;
          cluster.x += x;
          cluster.y += y;
        }
      };
    }

    // Resolves collisions between d and all other circles.
    function collide(alpha) {
      var quadtree = d3.geom.quadtree(nodes);
      return function(d) {
        var r = d.radius + maxRadius + Math.max(padding, clusterPadding),
            nx1 = d.x - r,
            nx2 = d.x + r,
            ny1 = d.y - r,
            ny2 = d.y + r;
        quadtree.visit(function(quad, x1, y1, x2, y2) {
          if (quad.point && (quad.point !== d)) {
            var x = d.x - quad.point.x,
                y = d.y - quad.point.y,
                l = Math.sqrt(x * x + y * y),
                r = d.radius + quad.point.radius + (d.cluster === quad.point.cluster ? padding : clusterPadding);
            if (l < r) {
              l = (l - r) / l * alpha;
              d.x -= x *= l;
              d.y -= y *= l;
              quad.point.x += x;
              quad.point.y += y;
            }
          }
          return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
        });
      };
    }
    
   
    ////////   RELLENO DE PANEL DERECHO

    function zoomInClick(d){
        // LLENAR CONTENIDO
        var cluster_id = d.cluster;
        if(current_cluster == cluster_id)
            return;
        current_cluster = cluster_id;
        var cluster = dataset[cluster_id];

        cluster_title.text(function(){ return cluster.cluster })
        
        content.selectAll("li").remove();

        var entity_content = content
                                .selectAll("li")
                                .data(named_entities)
                                .enter().append("li");

        var inside_collap = entity_content
            .append("a")
            .attr("href","#")
            .attr("class","entity_title")
            .attr("id",function(d){ return d; })
            .on("click",activeHandler)
            .append("b")
            .append("text")
            .text(function(d,i){ return NE_titles[i]; });

        entity_content.append("ul");

        named_entities.forEach(function(clase){
            var id = "#" + clase;
            var temp = d3.select(".contenido")
                            .select(id)
                            .node().parentNode;
            var list = d3.select(temp).select("ul");
            list.selectAll("li")
                .data(entity_per_cluster[cluster_id][clase].slice(0,15)).enter()
                .append("li")
                .append("text")
                .text(function(ne){ return  ne.name.capitalize(); });

        });

        // hide SVG and show SVG_ZOOM
        svg.classed("hide",true);
        svg_zoom.classed("hide",false);

        drawZoom(d);
    }

    String.prototype.capitalize = function() {
        return this.charAt(0).toUpperCase() + this.slice(1);
    }

    function activeHandler(d){
        var id = "#" + d;
        var li_dom = d3.select(".contenido")
                        .select(id)
                        .node().parentNode;
        if(!$(li_dom).hasClass("active"))
            $(li_dom).addClass("active");
        else
            $(li_dom).removeClass("active");
    }

    function add_class(_dom, _class){
        if(!$(_dom).hasClass(_class))
            $(_dom).addClass(_class);
    }

    function remove_class(_dom, _class){
        if($(_dom).hasClass(_class))
            $(_dom).removeClass(_class);
    }

    function drawZoom(dd) {
        // hacer visible boton VOLVER
        back_button.classed("hide",false);
        // hacer visible legenda
        legend_ent.classed("hide",false);

        nodes_zoom = [];

        named_entities.forEach(function(ne){
            var ents = entity_per_cluster[dd.cluster][ne];
            nodes_zoom = nodes_zoom.concat(ents.slice(0,6));
        });

        nodes_zoom.sort(function(a,b){
            return a.w - b.w;
        });
        n = nodes_zoom.length;
        nodes_zoom[n-1].w *= 1.5;

        radius_scale_zoom.domain([nodes_zoom[0].w,nodes_zoom[n-1].w])
                    .range([minRadius_zoom,maxRadius_zoom]);

        nodes_zoom.forEach(function(nod){
            nod["radius"] = radius_scale_zoom(nod.w);
            nod["x"] = 20*(Math.random()-0.5) + w/2;
            nod["y"] = 20*(Math.random()-0.5) + h/2;
        });
        links_zoom = d3.range(nodes_zoom.length-1).map(function(i){
            return {source: nodes_zoom[n-1], target: nodes_zoom[i]};
        });

        force
            .nodes(nodes_zoom)
            .links(links_zoom)
            .size([w, h])
            .linkDistance(function(){ return 70*Math.random() + 70; })
            .gravity(1)
            .on("tick", tick_zoom)
            .start();

        // clean SVG_ZOOM
        svg_zoom.selectAll("line").remove();
        svg_zoom.selectAll("circle").remove();
        svg_zoom.selectAll("text").remove();

        // draw new graph
        link_dom_zoom = svg_zoom.selectAll("line")
            .data(links_zoom)
            .enter().append("line")
            .style("stroke","#999")
            .attr("x1", function (d) {
                return d.source.x;
            })
            .attr("y1", function (d) {
                return d.source.y;
            })
            .attr("x2", function (d) {
                return d.target.x;
            })
            .attr("y2", function (d) {
                return d.target.y;
            });

        node_dom_zoom = svg_zoom.selectAll("circle")
                        .data(nodes_zoom)
                        .enter().append("circle")
                        .style("fill", function (d) {
                            return fill_by_entities(named_entities.indexOf(d["class"]));
                        })
                        .attr("r", function (d) { return d.radius; })
                        .attr("id",function (d) { return "c" + d.index; })
                        .call(force.drag);

        node_dom_zoom.append("title")
                        .text(function(d){
                            return d.name.toLowerCase();
                        });

        // texto encima
        text_inside = svg_zoom.selectAll("text")
                        .data(nodes_zoom)
                        .enter().append("text");

        svg_zoom.style("opacity", 1e-6)
            .transition()
            .duration(1000)
            .style("opacity", 1);
    }

    function tick_zoom(e) {
        node_dom_zoom
            .each(collide_zoom(0.5))
            .attr("cx", function (d) { return d.x; })
            .attr("cy", function (d) { return d.y; });

        link_dom_zoom.attr("x1", function (d) {
                return d.source.x;
            })
            .attr("y1", function (d) {
                return d.source.y;
            })
            .attr("x2", function (d) {
                return d.target.x;
            })
            .attr("y2", function (d) {
                return d.target.y;
            });

        text_inside
            .attr("x",function(d){
                var cc = svg_zoom.select("#c" + d.index).attr("cx");
                return cc; })
            .attr("y",function(d){
                var cc = svg_zoom.select("#c" + d.index).attr("cy");
                return cc; })
            .attr("dy", ".35em")
            .attr("text-anchor", "middle")
            .text(function(d) {
                return d.name;
            })
            .style("opacity", function(d) {
                return 5*d.radius < this.getComputedTextLength()? 0: 1;
             })
            .style("font-size","17px")
            .style("font-weight","600");
    }

    // Resolves collisions between d and all other circles.
    function collide_zoom(alpha) {
      var quadtree = d3.geom.quadtree(nodes_zoom);
      return function(d) {
        var r = d.radius + maxRadius_zoom + padding_zoom,
            nx1 = d.x - r,
            nx2 = d.x + r,
            ny1 = d.y - r,
            ny2 = d.y + r;
        quadtree.visit(function(quad, x1, y1, x2, y2) {
          if (quad.point && (quad.point !== d)) {
            var x = d.x - quad.point.x,
                y = d.y - quad.point.y,
                l = Math.sqrt(x * x + y * y),
                r = d.radius + quad.point.radius + padding_zoom;
            if (l < r) {
              l = (l - r) / l * alpha;
              d.x -= x *= l;
              d.y -= y *= l;
              quad.point.x += x;
              quad.point.y += y;
            }
          }
          return x1 > nx2 || x2 < nx1 || y1 > ny2 || y2 < ny1;
        });
      };
    }
    
});

    </script>
{% endblock %}
