{% load i18n cache %}
{% load static from staticfiles %}
{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description"  content="Empleatron. Peru"/>
    <meta property="fb:admins" content="1246280540" />

    <title>{% block title %}Bienvenido a Empleatron{% endblock %}</title>
    {# script google analytics #}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-49607583-1', 'empleatron.com');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>

    {# links generales #}
    <link rel="icon" type="image/ico" href="{% static 'website/img/icons/favicon.ico' %}">

    <!-- codigo y estilos fijos-->
    <link rel="stylesheet" href="{% static 'website/css/core.css' %}"/>
    <script src="{% static 'website/js/jquery.js' %}"></script>

    <!-- SCRIPT DE NAVEGADOR -->
    <script>
        $(document).ready(function(){
            $("nav > ul > li").each(function(){
                // verifica si link es igual a    pagina relativa actual
                if ($("a",this)[0].href == window.location.href)
                    if(!$(this).hasClass("active"))
                    $(this).addClass("active");
                else
                    $(this).removeClass("active");
            });
        });

    </script>

    <!-- REDES SOCIALES SDK -->
    <!-- FACEBOOK -->
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- TWITTER -->
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <!-- LINKEDIN -->
    <script src="//platform.linkedin.com/in.js" type="text/javascript">
      lang: en_US
    </script>


    {% block css %}
    {% endblock %}

    {% block js %}
    {% endblock%}
</head>

<body>
<div id="fb-root"></div>



<div class="wrapper">
    <!-- header -->
    <div id="header-wrapper">

        <nav id="nav">
            <!-- Logo            --->
            <div id="header-logo">
                <ol class="social-icons-nav social-icons white-icon" style="list-style: none">
                    <li><a href="{% url 'index' %}" style="padding: 3px; padding-right: 10px"><img src="{% static 'website/img/icons/logo_blanco.png' %}"/></a></li>
                    <li><a href="https://www.facebook.com/EmpleatronPeru" class="fa solo fa-facebook"></a></li>
                    <li><a href="https://twitter.com/EmpleatronPeru" class="fa solo fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/company/empleatr%C3%B3n-peru" class="fa solo fa-linkedin"></a></li>
                </ol>
            </div>

            <!-- Nav -->

            <ul>
            <li><a href="{% url 'index' %}"               > Inicio</a></li>
            <li><a href="{% url 'quienes_somos' %}"       > Nosotros</a></li>
            <li><a href="{% url 'servicios' %}"           > Soluciones</a></li>
            <li class="has-sub"><a href="{% url 'panorama' %}"> Panorama Laboral</a>
                <ul>
                    <li><a href="{% url 'treemap' %}">Panorama de la demanda laboral peruana</a></li>
                    <li><a href="{% url 'circleplot' %}">Interrelación entre carreras en el Perú</a></li>
                </ul>
            </li>
            <li><a href="{% url 'blog-list' %}"  > Blog</a></li>
            <li><a href="{% url 'contacto' %}"   > Contacto</a></li>
            </ul>
        </nav>

                <!-- TEMPORALMENTE FUERA DE SERVICIO
                <span class="span_sign">
                    <a href="{#   url 'signin' #}" id="login">Ingresa</a>
                    <a href="{# url 'signup'#}" class="button medium fa ">Crear cuenta</a>
                </span>
                -->

    </div>
    <!-- Banner -->
    {% block banner %}
    {% endblock %}
</div>

{% block content %}
{% endblock %}


<!-- Footer -->
<div id = "footer-wrapper" class="wrapper">
	<footer>
		<span style="padding-top: 20px; float: left">&copy; Empleatrón</span>
        <!-- Menu -->
        <ul class="social-icons white-icon">
            <li><a>Contactenos:</a></li>
            <li><a href="https://www.facebook.com/EmpleatronPeru" class="fa solo fa-facebook"></a></li>
            <li><a href="https://twitter.com/EmpleatronPeru" class="fa solo fa-twitter"></a></li>
            <li><a href="https://www.linkedin.com/company/empleatr%C3%B3n-peru" class="fa solo fa-linkedin"></a></li>
        </ul>

        <span style="text-align: right;padding-bottom: 20px; float: right;clear: both" >e-mail:  contacto@empleatron.com</span>
	</footer>
</div>
</body>
</html>
