{% extends "core/skeleton_email.html" %}
{% load i18n static %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{% blocktrans with site=site.name %}Welcome to {{ site }}!{% endblocktrans %}{% endblock %}

{% block content %}
<!-- MODULE ROW // -->
<!--
    To move or duplicate any of the design patterns
    in this email, simply move or copy the entire
    MODULE ROW section for each content block.
-->
<tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <!--
            The centering table keeps the content
            tables centered in the emailBody table,
            in case its width is set to 100%.
        -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                    <!--
                        The flexible container has a set width
                        that gets overridden by the media query.
                        Most content tables within can then be
                        given 100% widths.
                    -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">


                                <!-- CONTENT TABLE // -->
                                <!--
                                    The content table is the first element
                                    that's entirely separate from the structural
                                    framework of the email.
                                -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" class="textContent">
                                            <h3>{% blocktrans with site=site.name %}Welcome to {{ site }}!{% endblocktrans %}</h3>
                                            <br />
                                            {% blocktrans %}We're excited that you've joined us to finally simplify your daily company management. You can now enjoy an enterly new experience to manage your invoicing, your calendars and your contacts.{% endblocktrans %}
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CONTENT TABLE -->


                            </td>
                        </tr>
                    </table>
                    <!-- // FLEXIBLE CONTAINER -->
                </td>
            </tr>
        </table>
        <!-- // CENTERING TABLE -->
    </td>
</tr>
<!-- // MODULE ROW -->

<!-- MODULE ROW // -->
<tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell bottomShim">


                                <!-- CONTENT TABLE // -->
                                <!--
                                    The emailButton table's width can be changed
                                    to affect the look of the button. To make the
                                    button width dependent on the text inside, leave
                                    the width blank. When a button is placed in a column,
                                    it's helpful to set the width to 100%.
                                -->
                                <table border="0" cellpadding="0" cellspacing="0" width="260" class="emailButton">
                                    <tr>
                                        <td align="center" valign="middle" class="buttonContent">
                                            <a href="{{ site.url }}{% url 'account_activate' quoted_email user.activation_key %}" target="_blank">{% trans "Activate your account" %}</a>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CONTENT TABLE -->
                            </td>
                        </tr>
                    </table>
                    <!-- // FLEXIBLE CONTAINER -->
                </td>
            </tr>
        </table>
        <!-- // CENTERING TABLE -->
    </td>
</tr>
<!-- // MODULE ROW -->


<!-- MODULE ROW // -->
<tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td valign="top" width="600" class="flexibleContainerCell">


                                <!-- CONTENT TABLE // -->
                                <!--
                                    Keeping the table markup in its original
                                    order and swapping the align attribute values
                                    allows the tables to wrap in the correct order
                                    on small displays.
                                -->
                                <table align="Right" border="0" cellpadding="0" cellspacing="0" width="280" class="flexibleContainer">
                                    <tr>
                                        <td align="Left" valign="top" class="imageContent">
                                            <img src="{% static 'account/img/getting_started_'|add:LANGUAGE_CODE|add:'.gif' %}" width="280" class="flexibleImage"/>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CONTENT TABLE -->

                                <!-- CONTENT TABLE // -->
                                <table align="Left" border="0" cellpadding="0" cellspacing="0" width="260" class="flexibleContainer">
                                    <tr>
                                        <td valign="top" class="textContent">
                                            <h3>{% trans "Getting started" %}</h3>
                                            <br />
                                            {% blocktrans %}Once your account is activated, the first step is to configure your company settings. It's a 3 steps form, we agree there're funnier things to do, but after we'll no more bothering you with that. Promise.{% endblocktrans %}
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CONTENT TABLE -->


                            </td>
                        </tr>
                    </table>
                    <!-- // FLEXIBLE CONTAINER -->
                </td>
            </tr>
        </table>
        <!-- // CENTERING TABLE -->
    </td>
</tr>
<!-- // MODULE ROW -->


<!-- MODULE ROW // -->
<tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td valign="top" width="600" class="flexibleContainerCell">


                                <!-- CONTENT TABLE // -->
                                <!--
                                    In multi-column content blocks, the
                                    content tables are given set widths
                                    and the flexibleContainer class.
                                -->
                                <table align="Left" border="0" cellpadding="0" cellspacing="0" width="260" class="flexibleContainer">
                                    <tr>
                                        <td valign="top" class="textContent">
                                            <h3>{% trans "Support" %}</h3>
                                            <br />
                                            {% blocktrans with site=site.name %}{{ site }} is in beta. If you have a question, a bug, want a new feature, or just want to talk, do not hesitate, send us an email to support@vosae.com, it's our mission to help you!{% endblocktrans %}
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CONTENT TABLE -->


                                <!-- CONTENT TABLE // -->
                                <table align="Right" border="0" cellpadding="0" cellspacing="0" width="260" class="flexibleContainer">
                                    <tr>
                                        <td valign="top" class="textContentLast">
                                            <h3>{% trans "Developers" %}</h3>
                                            <br />
                                            {% url 'doc_home' as doc_home %}
                                            {% blocktrans with site=site.name site_url=site.url %}{{ site }} is also a service made by developers and therefore naturally a complete and documented API. And because we know that you want complete access to your data, you have complete access to the APIs. It's simple, we use the same ones. Look at the <a href="{{ site_url }}{{ doc_home }}" target="_blank">API Doc</a>.{% endblocktrans %}

                                        </td>
                                    </tr>
                                </table>
                                <!-- // CONTENT TABLE -->


                            </td>
                        </tr>
                    </table>
                    <!-- // FLEXIBLE CONTAINER -->
                </td>
            </tr>
        </table>
        <!-- // CENTERING TABLE -->
    </td>
</tr>
<!-- // MODULE ROW -->

<!-- MODULE ROW // -->
<tr>
    <td align="center" valign="top">
        <!-- CENTERING TABLE // -->
        <!--
            The centering table keeps the content
            tables centered in the emailBody table,
            in case its width is set to 100%.
        -->
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td align="center" valign="top">
                    <!-- FLEXIBLE CONTAINER // -->
                    <!--
                        The flexible container has a set width
                        that gets overridden by the media query.
                        Most content tables within can then be
                        given 100% widths.
                    -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" class="flexibleContainer">
                        <tr>
                            <td align="center" valign="top" width="600" class="flexibleContainerCell">


                                <!-- CONTENT TABLE // -->
                                <!--
                                    The content table is the first element
                                    that's entirely separate from the structural
                                    framework of the email.
                                -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td valign="top" class="textContent">
                                            <h3>{% trans "Join the community" %}</h3>
                                            <br />
                                            {% blocktrans with site=site.name %}We aim to add new features and update regularly {{ site }}. To be kept informed of the latest news, to show everyone how awesome {{ site }} is, to talk to us or simply join the community, you can follow us on <a href="https://twitter.com/Vosae" target="_blank">Twitter</a> or like us on <a href="https://www.facebook.com/vosaehq" target="_blank">Facebook</a>.{% endblocktrans %}
                                        </td>
                                    </tr>
                                </table>
                                <!-- // CONTENT TABLE -->


                            </td>
                        </tr>
                    </table>
                    <!-- // FLEXIBLE CONTAINER -->
                </td>
            </tr>
        </table>
        <!-- // CENTERING TABLE -->
    </td>
</tr>
<!-- // MODULE ROW -->
{% endblock %}