{% extends "blog/base.html" %}
{% load static from staticfiles %}
{% load blog_filters %}

{% block left-side %}
<div class="left-panel">
    {% if posts|length > 0 %}
    {% for post in posts %}
        <div class="list_blog-item">
            <div class="inline" style="width: 25%">
                <a href="{{ post.url }}" >
                    <img src="{%  static post.list_img.url %}">
                </a>
            </div>

            <div class="inline" style="width: 65%">
                <h4>{{post.date|date:"b d Y"|capfirst}}</h4>
                <a href="{{ post.url }}" ><h2>{{post.title}}</h2></a>
                <p>{{ post.content_file|open_content|striptags|truncatewords_html:40 }}</p>
                <span><a href="{{ post.url }}">  Leer más...</a></span>
            </div>
        </div>
        <hr>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}