{% extends "website/base/base.html" %}
{% load static from staticfiles %}
{% load blog_filters %}

{% block banner %}{% endblock %}
{% block js2 %}{% endblock %}


{% block content %}
<div class="wrapper content-wrapper">
    <!-- Listado de Blogs / visor -->
    <h1 style="text-align: left">Blog</h1>
    {% block left-side %}
    {% endblock %}
		
    <!-- Buscador / links  -->
    <div class="right-panel">
        <!--
        <div id="crawler">
            <form>
                <label>Buscar blog</label>
                <input type="search" name="buscador">
            </form>
        </div>
         -->
        <!-- Social network links-->
        <div style="width: 100%">
            <h2>Síguenos en:</h2>
            <div class="fb-like" data-href="https://www.facebook.com/EmpleatronPeru"
                 data-layout="standard"
                 data-action="like"
                 data-width="250"
                 data-show-faces="false"
                 data-share="true"></div>

            <div style="padding: 10px 0">
                <a href="https://twitter.com/EmpleatronPeru" class="twitter-follow-button" data-show-count="true">Follow @EmpleatronPeru</a>
            </div>

            <script type="IN/FollowCompany" data-id="3881395" data-counter="right"></script>

        </div>

        <!-- POST POR MES-->
        <h2>Publicaciones por mes</h2>
        <ul id="lista_x_mes">
        {% for month in month_names %}
            {% with posts_by_month|dict_key:month as post_curr_month %}
            <li style="padding-bottom: 10px;">
                <b>{{month|capfirst}}</b>
                <ul style="padding-left: 20px; list-style: initial">
                {% for p in post_curr_month %}
                    {% with p.title|split_title as splitted%}
                    <li><a href="{{p.url}}" >{{ splitted.pref }}<span style="color:#0fa1e0">{{ splitted.carrera }}</span></a>
                    {% endwith %}
                {% endfor %}
                </ul>
            </li>
            {% endwith %}
        {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
