{% extends "blog/base.html" %}
{% load static from staticfiles %}

{% block title %}
    {{ query_post.title }}
{% endblock %}

{% block left-side %}
<div class="left-panel" id="post-wrapper" >
    <h2>{{ query_post.date|date:"b d Y"|capfirst }}</h2>
    <h1 style="text-align: left">{{ query_post.title }}</h1>
    <span style="float: left">Tags:</span>
    <ul id="tags">
    {% if tags|length > 0 %}
    {% for tag in tags %}
        <li>{{ tag }}</li>
    {% endfor %}
    {% endif %}
    </ul>

    <div class = "social-bar">
        <ul class="inverse">
            <li>
            <div class="fb-like" data-href="{{ query_post.url }}"
                 data-layout="button_count"
                 data-action="like"
                 data-show-faces="false"
                 data-share="true"></div>
            </li>

            <li>
            <script type="IN/Share" data-url="{{ query_post.url }}" data-counter="right"></script>
            </li>

            <li>
            <a href="{{ query_post.url }}"
               class="twitter-share-button"
               data-via="EmpleatronPeru"
               data-hashtags="empleatron"
               style="padding: 0">Tweet</a>
            </li>

        </ul>
    </div>


    <!-- Contenido -->
    <div style="clear: both; padding-top: 20px">
    {% include url_post %}
    </div>
</div>
{% endblock %}