{% extends "core/skeleton.html" %}
{% load i18n static %}

{% block links %}   
    {{ block.super }}
    
    {% if DEBUG %}
    <link href="{% static 'account/build/account.css' %}" rel="stylesheet" type="text/css">
    {% else %}
    <link href="{% static 'account/build/account.min.css' %}" rel="stylesheet" type="text/css">
    {% endif %}
{% endblock %}

{% block body_class %}page-account{% endblock %}

{% block content %}
<div id="wrapper">
    <div class="inner">
        <div class="head">
            <img src="{% static 'core/img/logo-empleatron.png' %}" alt="{% trans 'Vosae logo' %}" />
            <h1>{% block page_account_title %}{% endblock page_account_title %}</h1>
        </div>
        <div class="content">
            {% block page_account_content %}{% endblock page_account_content %}
        </div>
    </div>
</div>
    {% block page_account_bottom %}{% endblock page_account_bottom %}
{% endblock %}
