{% extends "account/base.html" %}
{% load i18n static %}

{% block title %}{% trans "Signup page" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_og_title %}{% trans "Pagina de registro" context "Html title" %} | {{ block.super }}{% endblock %}
{% block meta_property_twitter_title %}{% trans "Pagina de registro" context "Html title" %} | {{ block.super }}{% endblock %}

{% block content %}{{ block.super }}{% endblock %}
{% block page_account_title %}{% trans "Registrate en Empleatron" %}{% endblock %}
{% block page_account_content %}
    <p class="message-info">{% trans "Empleatron esta en beta. Contactanos a support@empleatron.com." %}</p>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
            <div>
                {{ field.label_tag }} <span class="required">*</span>
                <div class="input">
                    {{ field }}              
                    {% if field.errors %}
                        <span class="help-inline error">
                            {% with field.errors|first as first_error %}
                                - {{ first_error }}
                            {% endwith %}
                        </span>
                    {% elif field.help_text %}
                        <span class="help-inline">
                            {{ field.help_text }}
                        </span>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <p class="submit">
            <p class="required"><span>*</span> {% trans "Requerido" %}</p>
            <button type="submit" class="btn green">
                {% trans "Registrar" %} <span class="light"> | {% trans "Beta" %}</span>
            </button>
        </p>
    </form>
{% endblock %}
{% block page_account_bottom %}
    <a class="grey" href="{% url 'signin' %}">{% trans "Ya tienes cuenta? Ingresa" %}</a>
{% endblock %}